{% extends 'adminapp/alayout.html' %}
{% block content %}

<!-- <link rel="stylesheet" href="../static/adminapp/css/main2.css"> -->

<div class="header-height" style="height: 150px;"></div>

<div class="main-content">

<style>
 .wrapper {
    width: 116%;
    margin: auto;
}

</style>


<!-- <div id="content">

    <div class="topImg clearfix wrapper">

    

      <!--  <img src="http://www.kvmce.in/img/slider/slider_01.jpg" alt="About Us">--

        <div class="container">

         <p>M C A - Faculty</p>

        </div>

    </div> -->



<div class="container">
    <h1>News & Events</h1>

    <!-- Inspired by https://bootsnipp.com/snippets/featured/event-list -->   
    <!-- Latest update: 19/06/2019 -->
    <!-- Added <time> tags and updated the children to be <span>s-->
    <!-- Browser support (tested):
       - Chrome 71.0.3578.98 (Official Build) (64-bit)
       - Firefox 63.0.3 (64-bit)
       - Opera 57.0.3098.116
       - IE 11
       - IE 10
    -->   
    <!-- Using: http://bennettfeely.com/flexplorer/ -->
    <!-- Using: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->    
    <!-- Using: https://caniuse.com/#feat=flexbox -->   
    <!-- Using: https://www.w3schools.com/bootstrap4/bootstrap_ref_all_classes.asp -->
      
      <!-- Event list (Flex) with Bootstrap 4.1. -->    
      
      <!-- You may also want to check -->
      <!-- Event list (Flex) with Bootstrap 4.1. with btn --> 
      <!-- Codepen: https://codepen.io/ralitsavoronevska/pen/YdqdPK -->
      <section class="event-list mt-5">
        <div class="container p-0 text-center">
          <ul class="flex-container d-flex flex-row flex-wrap justify-content-center p-0">

            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap unit-bg rounded custom-padding border-white-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-07-08">
                      <span class="day-week-container font-l font-bold">Posted on 2022-04-05 05:23:46</span><br>
                      <!-- <span class="day-month-container font-l font-bold">Posted on </span><br> -->
                      <!-- <span class="year-container font-s font-bold">2019</span> -->
                    </time> 
                    <hr>
                    <time datetime="2018-07-08T20:00:00">
                      <!-- <span class="time-container font-m font-bold">20:00</span> -->
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="../static/adminapp/img/news_updates/mba_admission2022.jpg" data-size="1600x1067"><img src="../static/adminapp/img/news_updates/mba_admission2022.jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">ADMISSION OPEN FOR MBA 2022-24</h2>
                  <!-- <p class="font-m">Event description 1</p> -->
                </div>
              </div>
            </li>

            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-07-16">
                      <span class="day-week-container font-l font-bold">Posted on 2022-04-05 05:23:46</span><br>
                      <!-- <span class="day-month-container font-l font-bold">16/07</span><br>
                      <span class="year-container font-s font-bold">2019</span> -->
                    </time> 
                    <hr>
                    <time datetime="2018-07-16T21:30:00">
                      <!-- <span class="time-container font-m font-bold">21:30</span> -->
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="../static/adminapp/img/news_updates/admission_open.png" data-size="1600x1067"><img src="../static/adminapp/img/news_updates/admission_open.png" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Admission Help Line Numbers: </h2>
                  <p class="font-m">9072442264, 8848639617 ,8590623693, 7306620155</p>
                </div>
              </div>
            </li>

            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-07-24">
                      <span class="day-week-container font-l font-bold">Wednesday</span><br>
                      <span class="day-month-container font-l font-bold">24/07</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-07-24T21:00:00">
                      <span class="time-container font-m font-bold">21:00</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(87).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(87).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 3</h2>
                  <p class="font-m">Event description 3</p>
                </div>
              </div>
            </li>

            <!-- <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-07-30">
                      <span class="day-week-container font-l font-bold">Tuesday</span><br>
                      <span class="day-month-container font-l font-bold">30/07</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-07-30T19:30:00">
                      <span class="time-container font-m font-bold">19:30</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(88).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(88).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 4</h2>
                  <p class="font-m">Event description 4</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap unit-bg rounded custom-padding border-white-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-08-08">
                      <span class="day-week-container font-l font-bold">Thursday</span><br>
                      <span class="day-month-container font-l font-bold">08/08</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-08-08T20:00:00">
                      <span class="time-container font-m font-bold">20:00</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(89).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(89).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 5</h2>
                  <p class="font-m">Event description 5</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-08-14">
                      <span class="day-week-container font-l font-bold">Wednesday</span><br>
                      <span class="day-month-container font-l font-bold">14/08</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-08-14T21:30:00">
                      <span class="time-container font-m font-bold">21:30</span>
                    </time>
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(90).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(90).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 6</h2>
                  <p class="font-m">Event description 6</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-08-23">
                      <span class="day-week-container font-l font-bold">Friday</span><br>
                      <span class="day-month-container font-l font-bold">23/08</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-08-23T21:00:00">
                      <span class="time-container font-m font-bold">21:00</span>
                    </time>
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(91).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(91).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 7</h2>
                  <p class="font-m">Event description 7</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-08-31">
                      <span class="day-week-container font-l font-bold">Saturday</span><br>
                      <span class="day-month-container font-l font-bold">31/08</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-08-31T19:30:00">
                      <span class="time-container font-m font-bold">19:30</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(92).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(92).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 8</h2>
                  <p class="font-m">Event description 8</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap unit-bg rounded custom-padding border-white-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-09-07">
                      <span class="day-week-container font-l font-bold">Saturday</span><br>
                      <span class="day-month-container font-l font-bold">07/09</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-09-07T20:00:00">
                      <span class="time-container font-m font-bold">20:00</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(93).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(93).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 9</h2>
                  <p class="font-m">Event description 9</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-09-13">
                      <span class="day-week-container font-l font-bold">Friday</span><br>
                      <span class="day-month-container font-l font-bold">13/09</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-09-13T21:30:00">
                      <span class="time-container font-m font-bold">21:30</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(101).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(101).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 10</h2>
                  <p class="font-m">Event description 10</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-09-19">
                      <span class="day-week-container font-l font-bold">Wednesday</span><br>
                      <span class="day-month-container font-l font-bold">19/09</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-09-19T21:00:00">
                      <span class="time-container font-m font-bold">21:00</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(95).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(95).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 11</h2>
                  <p class="font-m">Event description 11</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-09-25">
                      <span class="day-week-container font-l font-bold">Wednesday</span><br>
                      <span class="day-month-container font-l font-bold">25/09</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-09-25T19:30:00">
                      <span class="time-container font-m font-bold">19:30</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(96).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(96).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 12</h2>
                  <p class="font-m">Event description 12</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap unit-bg rounded custom-padding border-white-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <time datetime="2019-10-07">
                      <span class="day-week-container font-l font-bold">Monday</span><br>
                      <span class="day-month-container font-l font-bold">07/10</span><br>
                      <span class="year-container font-s font-bold">2019</span>
                    </time>  
                    <hr>
                    <time datetime="2018-10-07T20:00:00">
                      <span class="time-container font-m font-bold">20:00</span>
                    </time>  
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(97).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(97).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 13</h2>
                  <p class="font-m">Event description 13</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <div class="day-week-container font-l font-bold">Saturday</div>
                    <div class="day-month-container font-l font-bold">13/07</div>
                    <div class="year-container font-s font-bold">2019</div>
                    <hr>
                    <div class="time-container font-m font-bold">21:30</div>
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(98).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(98).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 14</h2>
                  <p class="font-m">Event description 14</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <div class="day-week-container font-l font-bold">Thursday</div>
                    <div class="day-month-container font-l font-bold">18/07</div>
                    <div class="year-container font-s font-bold">2019</div>
                    <hr>
                    <div class="time-container font-m font-bold">21:00</div>
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(99).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(99).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 15</h2>
                  <p class="font-m">Event description 15</p>
                </div>
              </div>
            </li>
            <li class="col-sm-12 col-md-12 col-lg-12 p-0">
              <div class="flex-item d-flex flex-row flex-wrap rounded unit-bg custom-padding border-white-2 mt-5 mt-md-2">
                <div class="date-outer col-sm-12 col-md-2 col-lg-2 m-0 date-outer-padding">
                  <div class="date-container border-white-1 itixy-color">
                    <div class="day-week-container font-l font-bold">Friday</div>
                    <div class="day-month-container font-l font-bold">26/07</div>
                    <div class="year-container font-s font-bold">2019</div>
                    <hr>
                    <div class="time-container font-m font-bold">19:30</div>
                  </div>
                </div>
                <figure class="col-sm-12 col-md-4 col-lg-3 m-0 figure-padding">
                  <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(100).jpg" data-size="1600x1067"><img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(100).jpg" alt="" class="img-fluid border-white-1"></a>
                </figure>
                <div class="info col-sm-12 col-md-6 col-lg-7 text-center p-0">
                  <h2 class="font-l font-bold">Event title 16</h2>
                  <p class="font-m">Event description 16</p>
                </div>
              </div>
            </li>
          </ul>
        </div> -->



        
      <!-- <footer class="text-center font-bold mt-4">
        <div>
          <p class="d-inline-flex">
            <a href="https://www.w3.org/Icons/valid-html401-blue">
            <img src="https://www.w3.org/Icons/valid-html401-blue" alt="Valid HTML!" />
            </a>
          </p>
          <p class="d-inline-flex">
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
            </a>
          </p>
        </div>
        <p>2019 &copy; | Ralitsa Voronevska | All rights reserved.</p>
      </footer> -->
    </div>

</section>



    <style>

*, *:before, *:after {
	 box-sizing: border-box !important;
}
 body {
	 font-family: Lora, sans-serif !important;
	 font-size: 16px !important;
	 color: #fff !important;
	 background-color: rgba(107, 27, 53, 0.4) !important;
}
 body a {
	 color: #fff;
	 text-decoration: none;
}
 body a:hover {
	 color: #fff;
	 text-decoration: none;
}
 body .font-bold {
	 font-weight: bold;
}
 body .font-s {
	 font-size: 1.1rem;
}
 body .font-m {
	 font-size: 1.3rem;
}
 body .font-l {
	 font-size: 1.5rem;
}
 body .rounded {
	 border-radius: 0.4em !important;
}
 body .border-white-1 {
	 border: 1px solid #fff;
}
 body .border-white-2 {
	 border: 2px solid #fff;
}
 body .unit-bg {
	 background-color: rgba(107, 27, 53, .4) !important;
}
 body .date-outer-padding {
	 padding: 0.6em 0.6em 0 0.6em !important;
}
 body .figure-padding {
	 padding: 0 0.6em 1em 0.6em !important;
}
 body .custom-padding {
	 padding: 0.6em !important;
}
 body .itixy-color {
	 background-color: rgba(189, 0, 69, .7);
}
 body .event-list .container .flex-container {
	 list-style-type: none;
}
 body .event-list .container .flex-container .flex-item .date-outer .date-container hr {
	 margin-bottom: 0;
	 margin-top: 0;
	 width: 80%;
	 border-top: 1px solid #fff;
}
 body .event-list .container .flex-container .flex-item figure img {
	 border-top: none;
}
 body .event-list .container .flex-container .flex-item .event-btn .btn-itixy {
	 width: 8em;
	 padding: 1em;
}
 body .event-list .container .flex-container .flex-item .event-btn .btn-itixy:hover, body .event-list .container .flex-container .flex-item .event-btn .btn-itixy:active {
	 background-color: #bd0045 !important;
}
 body footer {
	 clear: both;
}
 @media screen and (min-width: 768px) {
	 .flex-container .flex-item .date-outer {
		 padding: 0 !important;
	}
	 .flex-container .flex-item .date-outer .date-container {
		 min-height: 6em !important;
		 height: 6.64em !important;
	}
	 .flex-container .flex-item .date-outer .date-container .day-week-container {
		 font-size: 1.1rem !important;
	}
	 .flex-container .flex-item .date-outer .date-container .day-month-container {
		 font-size: 1.3rem !important;
	}
	 .flex-container .flex-item .date-outer .date-container .year-container {
		 font-size: 0.8rem !important;
	}
	 .flex-container .flex-item .date-outer .date-container .time-container {
		 font-size: 1.1rem !important;
	}
	 .flex-container .flex-item figure {
		 padding: 0 !important;
	}
	 .flex-container .flex-item figure img {
		 border-top: 1px solid #fff !important;
		 border-left: none !important;
		 width: 100% !important;
		 min-height: 6em !important;
		 height: 6.64em !important;
	}
	 .flex-container .flex-item .info {
		 margin-top: 1em !important;
	}
}
 @media (min-width: 992px) {
	 .date-outer.col-lg-2 {
		 flex: 1 1 13% !important;
		 max-width: 13% !important;
	}
	 .info.col-lg-7 {
		 flex: 1 1 62% !important;
		 max-width: 62% !important;
	}
}
 @media (min-width: 1200px) {
	 .date-outer.col-lg-2 {
		 flex: 1 1 11% !important;
		 max-width: 11% !important;
	}
	 .info.col-lg-7 {
		 flex: 1 1 64% !important;
		 max-width: 64% !important;
	}
}
/* Pagination styles */
 .pagination {
	 display: block;
	 width: 75%;
	 margin: 1em auto;
	 text-align: center;
}
 .pagination:after {
	 content: '';
	 clear: both;
}
 .pagination-button {
	 display: inline-block;
	 padding: 5px 10px;
	 cursor: pointer;
	 border: 1px solid #fff;
	 background-color: rgba(107, 27, 53, .4) !important;
	 color: #46132f;
	 font-weight: bold;
	 transition: background 0.1s, color 0.1s;
}
 .pagination-button:hover, .pagination-button.active {
	 border: 1px solid #fff !important;
	 color: #fff;
}
 .pagination-button:first-of-type {
	 border-right: none;
	 border-top-left-radius: 5px;
	 border-bottom-left-radius: 5px;
}
 .pagination-button:nth-child(2), .pagination-button:nth-child(3), .pagination-button:nth-child(4), .pagination-button:nth-child(5) {
	 border-left: none;
	 border-right: none;
}
 .pagination-button:last-of-type {
	 border-left: none;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
}
 
    </style>

    <script>
        /*
 * jQuery Pagination
 * Author: Austin Wulf (@austinwulf)
 *
 * Call the paginate method on an array
 * of elements. Accepts # of items per page
 * as an argument. Defaults to 5.
 *
 * Example:
 *     $(selector).paginate(3);
 *
 * Released under the MIT License.
 *
 * v 1.0
 */

(function($){
    
    var paginate = {
        startPos: function(pageNumber, perPage) {
            // determine what array position to start from
            // based on current page and # per page
            return pageNumber * perPage;
        },

        getPage: function(items, startPos, perPage) {
            // declare an empty array to hold our page items
            var page = [];

            // only get items after the starting position
            items = items.slice(startPos, items.length);

            // loop remaining items until max per page
            for (var i=0; i < perPage; i++) {
                page.push(items[i]); }

            return page;
        },

        totalPages: function(items, perPage) {
            // determine total number of pages
            return Math.ceil(items.length / perPage);
        },

        createBtns: function(totalPages, currentPage) {
            // create buttons to manipulate current page
            var pagination = $('<div class="pagination" />');

            // add a "first" button
            pagination.append('<span class="pagination-button">&laquo;</span>');

            // add pages inbetween
            for (var i=1; i <= totalPages; i++) {
                // truncate list when too large
                if (totalPages > 5 && currentPage !== i) {
                    // if on first two pages
                    if (currentPage === 1 || currentPage === 2) {
                        // show first 5 pages
                        if (i > 5) continue;
                    // if on last two pages
                    } else if (currentPage === totalPages || currentPage === totalPages - 1) {
                        // show last 5 pages
                        if (i < totalPages - 4) continue;
                    // otherwise show 5 pages w/ current in middle
                    } else {
                        if (i < currentPage - 2 || i > currentPage + 2) {
                            continue; }
                    }
                }

                // markup for page button
                var pageBtn = $('<span class="pagination-button page-num" />');

                // add active class for current page
                if (i == currentPage) {
                    pageBtn.addClass('active'); }

                // set text to the page number
                pageBtn.text(i);

                // add button to the container
                pagination.append(pageBtn);
            }

            // add a "last" button
            pagination.append($('<span class="pagination-button">&raquo;</span>'));

            return pagination;
        },

        createPage: function(items, currentPage, perPage) {
            // remove pagination from the page
            $('.pagination').remove();

            // set context for the items
            var container = items.parent(),
                // detach items from the page and cast as array
                items = items.detach().toArray(),
                // get start position and select items for page
                startPos = this.startPos(currentPage - 1, perPage),
                page = this.getPage(items, startPos, perPage);

            // loop items and readd to page
            $.each(page, function(){
                // prevent empty items that return as Window
                if (this.window === undefined) {
                    container.append($(this)); }
            });

            // prep pagination buttons and add to page
            var totalPages = this.totalPages(items, perPage),
                pageButtons = this.createBtns(totalPages, currentPage);

            container.after(pageButtons);
        }
    };

    // stuff it all into a jQuery method!
    $.fn.paginate = function(perPage) {
        var items = $(this);

        // default perPage to 5
        if (isNaN(perPage) || perPage === undefined) {
            perPage = 5; }

        // don't fire if fewer items than perPage
        if (items.length <= perPage) {
            return true; }

        // ensure items stay in the same DOM position
        if (items.length !== items.parent()[0].children.length) {
            items.wrapAll('<div class="pagination-items" />');
        }

        // paginate the items starting at page 1
        paginate.createPage(items, 1, perPage);

        // handle click events on the buttons
        $(document).on('click', '.pagination-button', function(e) {
            // get current page from active button
            var currentPage = parseInt($('.pagination-button.active').text(), 10),
                newPage = currentPage,
                totalPages = paginate.totalPages(items, perPage),
                target = $(e.target);

            // get numbered page
            newPage = parseInt(target.text(), 10);
            if (target.text() == '«') newPage = currentPage - 1;
            if (target.text() == '»') newPage = currentPage + 1;

            // ensure newPage is in available range
            if (newPage > 0 && newPage <= totalPages) {
                paginate.createPage(items, newPage, perPage); }
        });
    };

})(jQuery);

/* This part is just for the demo,
not actually part of the plugin */
$('.flex-item').paginate(4);
    </script>

    {% endblock %}