{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg" alt="About Us">
        <div class="container">
        
        </div>
    </div>


    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>Alumni</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><p style="text-align:justify">The Inauguration of Alumni Association of the department of Computer Application was held on 30th April 2016. The ceremony was inaugurated by Dr. S V Muruga Prasad, Principal, KVM CE &amp; IT by lighting the lamp. Mr.Babu. B, General Manager did the felicitation. The formal part of the programme concluded with the vote of thanks by Dr Nageshwara Rao , HOD, Department of Computer Applications. He thanked all the invited guests and salient supporters for gracing the occasion. The programme continued with the entertainment by the current students and ex-students.</p>

<p>It was time again for nostalgia, as around 55 ex-students from different batches of the department gathered to relive old memories. A few of the alumni shared their experience as well as interesting moments of campus life to the audience.</p>

<p>In this function the department announced the best student award in 2013-2016 batch. Ms. Anumol Mathew was selected as the best student and she was awarded for the same by the principal.</p>

<p><br>
<img alt="" src="http://www.kvmce.in/web/upload/gallery/2017012513362449247600.jpeg"></p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_update'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>


{% endblock %}
