{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


    <div class="wrapper">
        <div class="container  ">
        <p>
        </p><h4></h4>
       <p></p>
        <div class="row">
            <div class="container secation">
        
            <div class=" col-md-8  clearfix">
                <div class="box">
                    <h4>Location Map</h4>
                    <div class="boxInfo"><iframe class="fwidth" frameborder="0" height="350" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.0247863689524!2d76.35652141402052!3d9.678922993071739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b087c292e06e96b%3A0x102b94b0864ee66b!2sKVM+College+of+Engineering+%26+Information+Technology!5e0!3m2!1sen!2sin!4v1494390790640" width="425"></iframe>

                    </div>
                </div>
            </div>

            <div class="col-md-4 last  clearfix">
                <div class="box contactUs">
                    <h4><span>Contact Address</span></h4>
                    <div class="boxInfo">
                        <p>
                        </p><h3 style="text-align:center"><span style="font-size:16px">Admission Help Line Numbers<br>
9995876948, 9446573475</span></h3>

<hr>
<span style="color:#000000"><span style="font-size:14px">KVM College of Engineering &amp; Information Technology</span><br>
<span style="font-size:12px">KVM College Road, Kokkothamangalam P.O,<br>
Cherthala, Alappuzha,<br>
Kerala, India. 688 527 &nbsp;</span></span>

<span style="font-size:12px"><span style="color:rgb(0, 0, 0)">Phone 0478 281 1080, 281 1707<br>
Fax +91 478 281 1707<br>
kvmceit@gmail.com</span></span>

<hr>
<span style="color:#000000"><span style="font-size:14px">KVM TRUST</span><br>
<span style="font-size:12px">P B No. 13, Cherthala, Alappuzha,<br>
Kerala, India - 688 524</span></span>

<span style="font-size:12px"><span style="color:rgb(0, 0, 0)">Phone </span></span><span style="color:#000000"><span style="font-size:12px">0478 282 2478, 281 0980<br>
Fax +91 478 282 2478<br>
kvmtrustchla@gmail.com<br>
www.kvmtrust.in</span></span>
<p></p>
                    </div>
                </div>
            </div>
            </div></div>

            <div class="clear"></div>

            <div class="row">
            <div class="col-lg-12">
            <div class="blogPost clearfix" style="width:100%">
                    <div>
                        
                        <ul class="tabs ">
                            <li class="selected"><a href="#"></a><span class="arrow13"></span></li>
                            <li><a href="#"></a><span class="arrow13"></span></li>
                        </ul>
                        <ul class="content clearfix">
                            <li class="selected">
                                <div class="row">
                                <div class="col-md-12 column text">
                                   
                                   </div>
                                    
                                </div>
                                
                            </li>
                            <li>
                                
                                <div class="row">
                                <div class="col-md-12 column text">
                                  
                                   </div>
                                    
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>



{% endblock %}    