{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>Curricular</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><p><span style="color:#0000CD"><strong>FACILITIES</strong></span></p>

<p>KVMCE&amp;IT has unique facilities coupled with excellent faculty for the professional grooming of the students.<br>
<br>
<strong>Computer Labs</strong></p>

<p>We have a Central Computer facility along with a State-of-the-art Departmental laboratories, which meets the basic need of the students. Server Room is equipped with 2 IBM X series Servers. Computing Facility has been established with more than 250 numbers of Core i7, Core i5, Core i3, Core2Duo &amp; DualCore systems. The centre has the latest software solutions that are widely applied in the digital area. Students can make their practical, presentations, seminar reports and computer projects itself in the lab. Internet Facility is provided so as to perform searches of periodicals and E-books to enhance their knowledge. We have a full time high-speed Leased line Internet access and it is shared with Wi-fi connectivity. We are having a campus network interconnecting all departments across multiple buildings in to a single LAN using fibre backbone.</p>

<p><img alt="" src="../static/adminapp/img/computerlab.jpeg"><br>
<strong>CAD Lab</strong><br>
Computer Aided Design laboratory is equipped with 40 Dell Workstation systems. This lab deals with the study of features and tools used in AutoCAD and the uses of this software in Civil engineering. The students also learn a Structural Analysis software(STAAD) for analysing structures. Industry standard software’s like Autodesk AutoCAD and Autodesk Inventor are introduced to students.</p>

<p><strong>DSP Lab</strong><br>
The DSP lab has 30 workstations each with a Acer PC. Software consists of a C complier and MATLAB with Signal Processing Toolbox. This lab is used to teach real-time DSP from the MATLAB environment, progressing to actual real-time hardware using the DSP Starter Kits.</p>

<p><strong>CSE Lab</strong><br>
The Department of Computer Science has a state of the art computer lab using cutting edge software technologies. CSE lab has 60 Systems. Computing Laboratory facilities are utilized for the conductance of basic programming course, object oriented programming, Data Structures and algorithm development etc.</p>

<p><strong>MCA Lab</strong><br>
This laboratory is equipped with 60 Core2Duo personal computers. Practical based on subjects like Programming Languages, Object Oriented Programming, Data and information Security are carried out in the laboratory.<br>
<br>
<strong>LECTURE HALLS</strong><br>
Well furnished classrooms, equipped with modern educational aids such as computers, LCD projector, overhead projectors, P.A. System etc.<br>
<br>
<strong>WORKSHOPS</strong><br>
The College has laboratory and workshop facilities with most modern advanced equipments.<br>
<br>
<strong>Wi Fi CAMPUS</strong><br>
In recognition of the need and importance of Internet in the field of education, KVMCEIT provide the Wi-Fi facility to students and faculty to access Internet connectivity anywhere in and around the campus. This Wi-fi zone was activated on April 2009. Wireless Connectivity provided via Ruckus, Cisco and D-Link solutions with 25 Access Points. Security and management is done at Internet Resource Centre.<br>
<br>
<strong>LANGUAGE LAB</strong><br>
Exposing to probable stress situations will definitely provide a better edge to the professionals to be in the college. The smart professionals of today are prepared for all the challenges of tomorrow. This department ensures that students, of any discipline, of the college will undergo `for the job training` prior to placements. And, there are weekly sessions held to tighten the command over English.</p>

<p>The sessions are made quite interactive to enable the smooth participation of the students through various English games, intellectual activities and by directing them to think big! Besides speaking, writing, listening and reading, the students are guided to analyse a company, to draft a befitting resume and are taken through the appropriate mannerisms, and expected behaviours of a professional. The efforts are to mould a better professional out of the student.</p>

<p>The trainings are not restricted to the students of the college alone. There are training packages available for the students and professionals outside as well.</p>

<p>The areas wherein the department concentrates are:<br>
1. Communicative skills 2. Enhancing creativity 3. Grooming oneself 4. Motivation and positivity 5. `For the job` training to handle the pressure of interviews and group discussions.</p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_update'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>





{% endblock %}