{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>IEDC</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><h2>Innovation and Entrepreneurship Development Cell (IEDC)</h2>

<h3>Concept:</h3>

<p style="text-align:justify">The Innovation and Entrepreneurship Development Centre (IEDC) is an initiative of National Science and Technology Entrepreneurship Development Board (NSTEDB), Department of Science and Technology (DST), New Delhi. The aim was to develop an institutional mechanism to create entrepreneurial culture in academic institutions to foster growth of innovation and entrepreneurship amongst the faculty and students.<br>
Every year this centre provides financial support to a good number of students for developing innovative products. Up to one lakh rupees is made available for each idea. Apart from this financial support they are providing mentoring and Infrastructural support for these projects.<br>
Also they arrange many classes and camps to promote technology based innovation and entrepreneurship among the students.</p>

<h3>Activities:</h3>

<h3>Business Skill Development Programme:</h3>

<p>Business Skill Development Programme (BSDP) is a training programme which is being sponsored and supported by The Ministry of Micro, Small Medium Enterprises (MSME), New Delhi. With an aim to encourage the students to start self-employment ventures as Micro, Small or Medium enterprises which is instrumental to employment generation.</p>

<h3>Product Development:</h3>

<p>IEDC cell in various institutions, in association with various Government agencies, have developed new products like Intelligent Light Dimmer, Automated Rubber tapping machine, Coconut Climbing Machine, &nbsp;&nbsp; &nbsp;Robot for Bore Well Rescue, Pedal Powered Inverter, Digital prepaid energy meter, Driver’s Assistant, Internet Radio etc..</p>

<h3>Kerala Start-up Mission (KSUM)</h3>

<p>Kerala Start-up Mission (KSUM) formerly known as ‘Techno park Technology Business Incubator’, is the India’s first and most successful Non Academic Business Incubator, hosted and housed inside the Asia largest IT park, Techno park.&nbsp; Techno park Technology Business Incubator (T-TBI), a joint association of Techno Park, Trivandrum and the Department of Science and Technology (DST), Government of India, to help the technology business start-ups, started operation during 2007. KSUM is the pioneer champion among incubators which functions with a vision to support and nurture the start ups in the state of Kerala. It also is the first non academic business incubator. The Techno park TBI spreads over 20,000 sq ft is situated in the lush green and world class IT infrastructure. The Techno Park, the biggest in the continent. Since launching in 2006, our family includes more than 200 + of India’s most promising start-ups.</p>

<h3>Significance of IEDC under KTU</h3>

<p>Apart from technical knowledge and skills, to be successful as professionals, students should have excellent soft skills, leadership qualities and team spirit. They should have entrepreneurial capabilities and societal environment. In order to nurture these qualities, KTU has introduced activity points to be earned by the students during their academic stay at the University covering extra-curricular and co-curricular activities.</p>

<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
    <td style="width:61px">
    <p style="text-align:center"><strong>Sl No</strong></p>
    </td>
    <td style="width:220px">
    <p style="text-align:center"><strong>Activity</strong></p>
    </td>
    <td style="width:217px">
    <p style="text-align:center"><strong>Achievement Levels </strong></p>

    <p style="text-align:center"><strong>and Assigned Activity Points</strong></p>
    </td>
    <td style="width:118px">
    <p style="text-align:center"><strong>Max. Points</strong></p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>1</p>
    </td>
    <td style="width:220px">
    <p>Start-up Company Registered legally</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">60</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">60</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>2</p>
    </td>
    <td style="width:220px">
    <p>Patent-Filed</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">30</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">60</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>3</p>
    </td>
    <td style="width:220px">
    <p>Patent - Published</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">35</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">60</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>4</p>
    </td>
    <td style="width:220px">
    <p>Patent - Approved</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">50</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">60</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>5</p>
    </td>
    <td style="width:220px">
    <p>Patent - Licensed</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">80</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">80</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>6</p>
    </td>
    <td style="width:220px">
    <p>Prototype developed and tested</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">60</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">60</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>7</p>
    </td>
    <td style="width:220px">
    <p>Awards for Products developed</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">60</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">60</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>8</p>
    </td>
    <td style="width:220px">
    <p>Innovative technologies developed and used by Industries/Users</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">60</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">60</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>9</p>
    </td>
    <td style="width:220px">
    <p>Got venture capital funding for innovative ideas/products</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">&nbsp;</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">&nbsp;</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>10</p>
    </td>
    <td style="width:220px">
    <p>Start-up employment (Offering jobs to two persons less than Rs. 15000/month)</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">80</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">80</p>
    </td>
</tr>
<tr>
    <td style="width:61px">
    <p>11</p>
    </td>
    <td style="width:220px">
    <p>Societal Innovations</p>
    </td>
    <td style="width:217px">
    <p style="text-align:center">50</p>
    </td>
    <td style="width:118px">
    <p style="text-align:center">50</p>
    </td>
</tr>
</tbody>
</table>

<h3>IEDC in KVM CE &amp; IT:</h3>

<p style="text-align:justify">KVM Innovation and Entrepreneurship Development Cell commenced its functioning during 2016.&nbsp; Our Principal, Prof. Dr. S.V. Muruga Prasad is the Chief advisor and Mr. Arun S. Menon, Assistant Professor, Training and Placement Cell, is the Nodal Officer.</p>

<p>The aims and objectives of IEDC are:</p>

<ol style="margin-left:40px">
<li>
<p><em>To promote knowledge based and technology-driven start-ups by harnessing young minds and their innovation potential in academic environment.</em></p>
</li>
<li>
<p>To channelize the knowledge and the energy of youth towards becoming active partners in the economic development process.</p>
</li>
<li>
<p>To inculcate a culture of innovation driven entrepreneurship.</p>
</li>
<li>
<p>To act as an institutional mechanism for providing various services including information on all aspects of enterprise building to budding S&amp;T entrepreneurs.</p>
</li>
<li>
<p>To motivate, support and mentor students for identification, development and commercialization of their innovative ideas.</p>
</li>
<li>
<p>To initiate targeted number of innovative student projects each year for new product development.</p>
</li>
<li>
<p>To organize Business Plan Competitions / Innovation Camps / Hackathons with active involvement of industry and alumni.</p>
</li>
<li>
<p>To guide and assist prospective entrepreneurs on various aspects such as preparing project reports, obtaining project approvals, loans and facilities from agencies of support system, information on technologies, etc.</p>
</li>
<li>
<p>To arrange interaction with entrepreneurs, bankers, professionals, potential customers and create a mentorship scheme for student innovators.</p>
</li>
<li>
<p>To facilitate creation of Entrepreneur's Club / E-Cells in the college to foster culture of entrepreneurship amongst students.</p>
</li>
</ol>

<p>Kerala Technological University is moving forward with more focus on the entrepreneurship activities. For the coordination of IEDC activities, clusters are formed with each KTU affiliated colleges as its members. KVM CE &amp; IT is included under cluster 6 with Mr.Swapnesh S, Asst. Prof. Department of Mechanical Engineering, Rajiv Gandhi Institute of Technology as cluster co-ordinator.</p>

<h3>Start-up Inauguration</h3>

<p>Now the scenario is changing from job seekers to job providers. Start-ups are staying private longer than ever before. We are very happy to share you that two start up companies&nbsp; (Damn Tech and Erector) were formally inaugurated on 05-082017 (Saturday) by the Principal, Dr. S.V. Muruga Prasad in the College seminar hall. After the inauguration there had a review presentation about KVM IEDC by Mr. Arun S. Menon, Nodal Officer. The promoters of the two companies gave brief presentation about their companies, services and products. The inaugural function was ended with a felicitation speech by Prof. M.D. Sreekumar, Director (Policy) &amp; HoD, Mechanical Engg.</p>

<table align="left" border="1" cellpadding="5" cellspacing="5" style="width:600px">
<tbody>
<tr>
    <td><img alt="" src="../static/adminapp/img/iedc1.JPG" style="height:250px; width:400px"></td>
    <td><img alt="" src="../static/adminapp/img/iedc2.JPG" style="height:250px; width:400px"></td>
</tr>
<tr>
    <td><img alt="" src="../static/adminapp/img/iedc3.JPG" style="height:250px; width:400px"></td>
    <td><img alt="" src="../static/adminapp/img/iedc4.JPG" style="height:250px; width:400px"></td>
</tr>
</tbody>
</table>

<p><br>
&nbsp;</p>

<h3>.</h3>
<br>

<h3>Start-up i3 workshop</h3>

<p>KVM’IEDC in association with Kerala Start Up Mission (KSUM) co-ordinated a two day “Start-up i3 workshop” on 9th and 10th March 2017. Mr. Rohit R, CEO, Openfuel has inaugurated and conducted the workshop. Total 53 students were participated the workshop from 12 various colleges.</p>

<table align="left" border="1" cellpadding="5" cellspacing="5" style="width:600px">
<tbody>
<tr>
    <td><img alt="" src="../static/adminapp/img/iedc5.jpg" style="height:250px; width:400px"></td>
    <td><img alt="" src="../static/adminapp/img/iedc6.jpg" style="height:250px; width:400px"></td>
</tr>
<tr>
    <td><img alt="" src="../static/adminapp/img/iedc7.jpg" style="height:250px; width:400px"></td>
    <td><img alt="" src="../static/adminapp/img/iedc8.jpg" style="height:250px; width:400px"></td>
</tr>
<tr>
    <td><img alt="" src="../static/adminapp/img/iedc9.jpg" style="height:250px; width:400px"></td>
    <td><img alt="" src="../static/adminapp/img/iedc10.jpg" style="height:250px; width:400px"></td>
</tr>
</tbody>
</table>

<p><br>
&nbsp;<br>
&nbsp;</p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_update'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>


{% endblock %}    