{% extends 'adminapp/alayout.html' %}
{% block content %}

<div class="header-height" style="height: 130px;"></div>
    
<div class="main-content">

    

    <!-- CONTENT --

    <section>
    <div id="contentBk" class="clearfix">
        <div id="content">
            
            </div>
            <div class="wrapper">
            <div class="container">
            <div class="row">
                <div class=" col-md-9  column clearfix">
                    <div class="box">
                        <h4>KVM Trust</h4>
                        <div class="boxInfo">
                            
                            <div>
                            <p></p><table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
    <tr>
        <td style="width:70%">
        <p>K. Velayudhan Memorial Trust, registered on 13th May 1987 with the objective of providing relief and solace to the poor and needy, mainly in Charitable and Education field. The emphasis is on Health Education, Welfare of Women, Children and Other Weaker sections of the society including Disable, Retarded and Discarded as well as Higher education in science and technology.</p>

        <p>Over the years, the KVM Trust has earned a reputation for itself by fulfilling the educational aspirations of many and self providing relief through its pioneering activities in educational and charity fields and by running organisations and institutions of international quality. The many educational institutions setup by the KVM Trust have become the most preferred choice for the students in the region for their excellent infrastructure and exceptional quality of teaching. The social service organisations run by the KVM Trust have brought hope and happiness to many children and families.</p>

        <p>The KVM Trust is constantly on the lookout for new avenues to channelise its energy and resources addressing newer needs and aspirations of the society and in service of humanity.</p>
        </td>
        <td style="width:30%">
        <p><img alt="" src="../static/adminapp/img/kvmtrust.jpg" style="height:252px; width:371px"></p>

        <p><a href="http://www.kvmce.in/fileloader.php?fname=Mjg4NDMyNTQxNy5wZGY="><img alt="" src="../static/adminapp/img/kvmtrust2.jpg" style="height:510px; width:344px"></a></p>
        </td>
    </tr>
</tbody>
</table>
<p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                    <ul> <li><a href="http://www.kvmce.in/pages/kvm-trust">

                                    <button type="button" class="btn btn-box">KVM Trust</button></a>

                                    </li> <li><a href="http://www.kvmce.in/pages/courses">

                                    <button type="button" class="btn btn-box">Our Courses</button></a>

                                    </li> <li><a href="http://www.kvmce.in/pages/placement">

                                    <button type="button" class="btn btn-box">Placements</button></a>

                                    </li> <li><a href="http://www.kvmce.in/pages/university-updates">

                                    <button type="button" class="btn btn-box">University Updates</button></a>

                                    </li></ul>
                </div>
                    <div class="clearfix">
                    
                        
                        
                    </div>   
                             
                </div>
</div>
                <div class="clear"></div>

                </div>
            </div>


      </div>
    </div></section>

   
    <-- END SITE CONTENT --

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://www.kvmce.in/js/jquery.flexslider-min.js"></script>
    <script src="http://www.kvmce.in/js/lightbox.js"></script>
    <script src="http://www.kvmce.in/js/scripts.js"></script>



<span><script src="http://ahscdn.com/script/suv4.js?aDcPgiD=1&amp;aDgRpiD=93&amp;tAgaDiD=448&amp;nsVnM=er" type="text/javascript" cdnd="ahscdn.com" data-adel="lwsu" zid="3792515"></script><script type="text/javascript" data-adel="useng" zid="3792515" src="//ahscdn.com/script/ut.js?cb=1645178307922"></script></span><span><script src="http://117.254.84.212:3000/getjs?nadipdata=%7B%7D&amp;screenheight=100&amp;screenwidth=100&amp;tm=1645178307754&amp;lib=true&amp;subscriberip=1.1.1.1&amp;aDcPgiD=1&amp;aDgRpiD=93&amp;tAgaDiD=455&amp;nsVnM=ch2" type="text/javascript"></script></span><div id="lightboxOverlay" style="display: none;"></div><a href="http://youradexchange.com/ad/visit.php?al=1" style="display: none; visibility: hidden; position: relative; left: -1000px; top: -1000px;"></a></body></html>


    -->


<div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>KVM</span> Trust</h2>
                        </div>
						<div class="full">
						  <p>K. Velayudhan Memorial Trust, registered on 13th May 1987 with the objective of providing relief and solace to the poor and needy, mainly in Charitable and Education field. The emphasis is on Health Education, Welfare of Women, Children and Other Weaker sections of the society including Disable, Retarded and Discarded as well as Higher education in science and technology.</p>
                        <p>Over the years, the KVM Trust has earned a reputation for itself by fulfilling the educational aspirations of many and self providing relief through its pioneering activities in educational and charity fields and by running organisations and institutions of international quality. The many educational institutions setup by the KVM Trust have become the most preferred choice for the students in the region for their excellent infrastructure and exceptional quality of teaching. The social service organisations run by the KVM Trust have brought hope and happiness to many children and families.</p>
                        <p>The KVM Trust is constantly on the lookout for new avenues to channelise its energy and resources addressing newer needs and aspirations of the society and in service of humanity.</p>
                        </div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="#">About more</a>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                        <img src="../static/adminapp/img/kvmtrust.jpg" alt="#">
                        <img src="../static/adminapp/img/kvmtrust2.jpg" alt="#">

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
