{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

	
<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class=" col-md-9  column clearfix">
            <div class="box">
                <h4>Introduction</h4>
                <div class="boxInfo">
                    
                    <div>
                    <p></p><p>The library started functioning along with the college. The primary function of the college library is to provide information resource and services to our staff and students. Computer database and internet facilities are also available. At present there are 26365 books, 11 international and 6 national journals and magazines are available in the library. For convenience, Department Libraries for subjects are maintained. KOHA software provides a user friendly interface. Subscription of DELNET e- journal also access. The library has a membership of National Digital Library. And the library is open from 9 to 5 pm on all working days.</p>
<p></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
            <!-- <ul><li><a href="http://www.kvmce.in/department/library/introduction"><button type="button" class="btn btn-box">Introduction</button></a></li><li><a href="http://www.kvmce.in/department/library/faculty">

                                    <button type="button" class="btn btn-box">List of Faculty</button> -->

                                    </a></li></ul>
        </div>
            <div class="clearfix">
            
                
                
            </div>   
                     
        </div>
</div>
        <div class="clear"></div>

        </div>
    </div>


	{% endblock %}
