{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>Nature Club</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><h3 style="text-align:center"><span style="color:#006400">KVM NATURE CLUB</span></h3>

<h2 style="font-style:italic; text-align:center"><span style="font-size:16px"><span style="font-family:comic sans ms,cursive"><span style="color:rgb(0, 100, 0)">Greening the Campus</span></span></span></h2>

<p style="text-align:center"><img alt="" src="../static/adminapp/img/nature_club/nature_main.jpg" style="height:410px; width:600px"></p>

<p style="text-align:center"><img alt="" src="../static/adminapp/img/nature_club/naturelogo.jpg" style="height:363px; width:214px"></p>

<p>&nbsp;</p>

<p style="text-align:center"><span style="color:#006400"><em>Jointly with</em><br>
<strong><big>HARITHA KERALA MISSION</big></strong><br>
<strong>Environment movement, Government of Kerala</strong></span></p>

<p style="text-align:justify">Nature club is the convergence of nature lovers, from various departments of KVM college of Engineering &amp; IT, to promote, monitor and operate the environmental and sustainable activities in the society, starting from college campus with the novel objectives of facilitating the skill development for environmental protection, promoting environmental awareness among all sections of society, spreading environmental education among students.</p>

<h3><span style="color:#006400">Mission</span></h3>

<p>•&nbsp;&nbsp; &nbsp;To conscientize and promote an environmental – friendly society.</p>

<h3><span style="color:#006400">Objectives</span></h3>

<p>•&nbsp;&nbsp; &nbsp;To create consciousness among students and others about clean and green environment<br>
•&nbsp;&nbsp; &nbsp;To motivate students and others to imbibe habits &amp; life style for minimum waste creation and proper waste disposal.<br>
•&nbsp;&nbsp; &nbsp;To make awareness among students for avoiding or minimizing the usage of plastics.<br>
•&nbsp;&nbsp; &nbsp;To emphasize the cleanliness and proper utilization of our water resources – rivers, canals etc.</p>

<h3><span style="color:#006400">Activities</span></h3>

<p>•&nbsp;&nbsp; &nbsp;To beautify selected area with flower plants, varieties of trees, and place campaign boards in order to generate awareness.<br>
•&nbsp;&nbsp; &nbsp;Action based activities like tree plantation, cleanliness drive both within &amp; outside the college campuses.<br>
•&nbsp;&nbsp; &nbsp;Installation of rain water harvesting plants, bio-gas plants etc.<br>
•&nbsp;&nbsp; &nbsp;To conduct seminars and workshops about clean &amp; healthy environment.<br>
•&nbsp;&nbsp; &nbsp;New tree plantation, Power point presentation on Ecosystem.<br>
•&nbsp;&nbsp; &nbsp;To conduct field trip activities.</p>

<h3><span style="color:#006400">Inauguration:</span></h3>

<p style="text-align:justify">The Nature club took birth on 22nd March 2017.&nbsp; 1st birth day celebrations was blessed by the august&nbsp; presence of Dr. Richard Ng, Director, Institute of Professional Development, Open University, Malaysia.&nbsp; A&nbsp; Schefflera plant ( most popularly known as umbrella tree, also known as dwarf tree)&nbsp; was planted by him near the main gate in the presence of Principal, Director (Policy), GM, HOD (CE), HOD (CS), Principal (Arts College) and so many nature lovers.&nbsp; &nbsp;</p>

<p style="text-align:justify">Addressing the gathering, Dr. Richard Ng exhorted the nature lovers of KVM to undertake various field activities like visiting natural ecosystems and biodiversity parks in the country and to create enthusiasm regarding issues pertaining to environmental sustainability.</p>

<table border="1" cellpadding="5" cellspacing="5" style="width:600px">
<tbody>
<tr>
    <td><img alt="" src="../static/adminapp/img/nature_club/nature1.jpg" style="height:250px; width:400px"></td>
    <td><img alt="" src="../static/adminapp/img/nature_club/nature2.jpg" style="height:250px; width:400px"></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><img alt="" src="../static/adminapp/img/nature_club/nature3.jpg" style="height:250px; width:400px"></td>
    <td><img alt="" src="../static/adminapp/img/nature_club/nature3.jpg" style="height:250px; width:400px"></td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="2"><img alt="" src="../static/adminapp/img/nature_club/nature4.jpg" style="height:400px; width:800px"></td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_update'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>



    {% endblock %}    
