{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
        <div class="container">
        <p>Photos - Campus</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic1.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic1.jpg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic2.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic2.jpg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic3.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic3.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic4.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic4.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic5.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic5.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic6.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic6.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic7.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic7.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic8.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic8.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic9.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic9.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic10.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic10.jpeg" alt="Campus"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Campus" class="gHover" href="../static/adminapp/img/Campus/pic11.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Campus/pic11.jpeg" alt="Campus"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>


{% endblock %}
