{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
        <div class="container">
        <p>Photos - Sports Teams</p>
        </div>
    </div>


    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic1.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic1.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic2.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic2.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic3.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic3.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic4.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic4.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic5.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic5.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic6.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic6.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic7.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic7.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Sports Teams" class="gHover" href="../static/adminapp/img/Sports Teams/pic8.jpg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Sports Teams/pic8.jpg" alt="Sports Teams"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>




{% endblock %}
