{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
        <div class="container">
        <p>Photos - Teloz 2K15</p>
        </div>
    </div>



    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic1.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic1.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic2.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic2.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic3.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic3.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic4.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic4.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic5.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic5.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic6.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic6.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic7.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic7.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic8.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic8.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Teloz 2K15" class="gHover" href="../static/adminapp/img/Teloz 2K15/pic9.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Teloz 2K15/pic9.jpeg" alt="Teloz 2K15"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>


{% endblock %}
