{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
        <div class="container">
        <p>Photos - Infrastructure</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic1.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic1.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic2.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic2.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic3.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic3.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic4.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic4.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic5.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic5.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic6.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic6.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic7.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic7.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic8.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic8.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic9.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic9.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic10.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic10.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Infrastructure" class="gHover" href="../static/adminapp/img/Infrastructure/pic11.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Infrastructure/pic11.jpeg" alt="Infrastructure"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>





    {% endblock %}
