{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
        <div class="container">
        <p>Photos - Laboratories</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic1.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic1.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic2.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic2.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic3.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic3.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic4.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic4.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic5.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic5.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic6.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic6.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic7.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic6.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic8.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic7.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic9.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic8.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic10.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic9.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic11.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic10.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic12.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic11.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic13.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic12.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic14.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic13.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic15.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic14.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic16.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic15.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic17.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic16.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic18.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic17.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Laboratories" class="gHover" href="../static/adminapp/img/Laboratories/pic19.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Laboratories/pic18.jpeg" alt="Laboratories"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>








{% endblock %}
