{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
        <div class="container">
        <p>Photos - IEDC</p>
        </div>
    </div>


    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="IEDC" class="gHover" href="../static/adminapp/img/IEDC/pic1.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/IEDC/pic1.JPG" alt="IEDC"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="IEDC" class="gHover" href="../static/adminapp/img/IEDC/pic2.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/IEDC/pic2.JPG" alt="IEDC"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>














{% endblock %}
