{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

  <div class="topImg clearfix wrapper">
                
    <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
    <div class="container">
    <p>Photos - PSEUDOCAST</p>
    </div>
</div>


    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="PSEUDOCAST" class="gHover" href="../static/adminapp/img/PSEUDOCAST/pic1.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="http://www.kvmce.in/files/gallery_photos/thumb_17-4346997802.jpeg" alt="PSEUDOCAST"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="PSEUDOCAST" class="gHover" href="../static/adminapp/img/PSEUDOCAST/pic2.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="http://www.kvmce.in/files/gallery_photos/thumb_17-1761124215.jpeg" alt="PSEUDOCAST"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="PSEUDOCAST" class="gHover" href="../static/adminapp/img/PSEUDOCAST/pic3.jpeg" rel="lightbox"><img class="fwidth img-responsive" src="http://www.kvmce.in/files/gallery_photos/thumb_17-1817047704.jpeg" alt="PSEUDOCAST"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>










    {% endblock %}
