{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">
                
        <img src="http://www.kvmce.in/img/slider/slider_01.jpg">
        <div class="container">
        <p>Photos - Arts 2017</p>
        </div>
    </div>



    <div class="wrapper">
        <div class="container">
        <div class="row">
            
            <div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic1.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic1.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic2.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic2.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic3.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic3.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic4.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic4.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic5.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic5.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic6.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic6.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic7.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic7.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic8.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic8.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic9.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic9.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic10.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic10.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic11.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic11.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div><div class=" col-md-4  column clearfix">

                            <div class="box">

                               <a title="Arts 2017" class="gHover" href="../static/adminapp/img/Arts2017/pic12.JPG" rel="lightbox"><img class="fwidth img-responsive" src="../static/adminapp/img/Arts2017/pic12.JPG" alt="Arts 2017"></a>                             

                  </div>

                </div>
            
        </div>
            <div class="clear"></div>
<section>

            </section>
            </div>
        </div>



{% endblock %}
