{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>Placement</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><h3>Recognition</h3>

<p><strong>Bloomberg accreditation</strong></p>

<p><strong>Campus partner - Speridian Technologies</strong></p>

<p>KVM empowers its students with the relevant skills, knowledge and confidence to join the professional world. We have a dedicated Training &amp; Placement Cell to ensure that our students are sought after in the professional world outside the campus.</p>

<h3><br>
AIM</h3>

<p><strong>Conduct Campus Interviews / drive<br>
Provide In-plant Training<br>
Conduct Education Programmes</strong></p>

<p><br>
The placement function of the cell includes sending out invitations to various organizations, arranging campus interviews and keeping the students informed of their performances. The cell is also responsible for extending hospitality to the members from various organizations who visit the campus for seminars, pre-placement talks and interviews.</p>

<h3><br>
TEAM CGPC</h3>

<p>KVM empowers its students with the relevant skills, knowledge and confidence to join the professional world. We have a dedicated Training &amp; Placement Cell to ensure that our students are sought after in the professional world outside the campus.</p>

<p><strong>Mr. Pratheesh Ramanathan</strong><br>
Head - Corporate Relations and Placements<br>
KVM Group of Professional Institutions</p>

<h3><br>
Role and Activities</h3>

<p>The career development process includes self-awareness, career exploration and job placement. In order to realize this process, the Training and Placement Office performs the following activities.</p>

<p style="margin-left:40px">Arranging In plant training/ Internship for pre-final year students</p>

<p style="margin-left:40px">Industrial/ Professional Tour</p>

<p style="margin-left:40px">Guidance for Higher Studies in India or Abroad</p>

<p style="margin-left:40px">Campus Placement</p>

<p style="margin-left:40px">Organization of workshops/ seminars for training</p>

<p style="margin-left:40px">Alumni Association</p>

<p style="margin-left:40px">Effective Youth Entrepreneurship Education</p>

<p>In addition to this there will be internal continuous training and evaluation programs also..</p>

<p><span style="background-color:#FFFFE0">Placement training for S1 MCA 2020-22 Batch Students completed.</span></p>

<h3><br>
AREAS</h3>

<p>The areas wherein the department concentrates are:</p>

<p style="margin-left:40px"><br>
1. Communicative skills<br>
2. Enhancing creativity<br>
3. Grooming oneself<br>
4. Motivation and positivity<br>
5. 'For the job' training to handle the pressure of interviews and group discussions.</p>

<p>&nbsp;</p>

<h3>RECRUITMENTS</h3>

<p><strong>2017 Batch</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
    <td>
    <p>No</p>
    </td>
    <td>
    <p>Company</p>
    </td>
    <td>
    <p>Offers</p>
    </td>
</tr>
<tr>
    <td>
    <p>1</p>
    </td>
    <td>
    <p>Speridian</p>
    </td>
    <td>
    <p>3</p>
    </td>
</tr>
<tr>
    <td>
    <p>2</p>
    </td>
    <td>
    <p>ACCENTA</p>
    </td>
    <td>
    <p>13</p>
    </td>
</tr>
<tr>
    <td>
    <p>3</p>
    </td>
    <td>
    <p>HINDHUJA GLOBAL SERVICES</p>
    </td>
    <td>
    <p>5</p>
    </td>
</tr>
<tr>
    <td>
    <p>4</p>
    </td>
    <td>
    <p>Sutherland</p>
    </td>
    <td>
    <p>10</p>
    </td>
</tr>
<tr>
    <td>
    <p>5</p>
    </td>
    <td>
    <p>ICICI</p>
    </td>
    <td>
    <p>14</p>
    </td>
</tr>
<tr>
    <td>
    <p>6</p>
    </td>
    <td>
    <p>OPPO Mobiles</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
</tbody>
</table>

<p>Total Offers :&nbsp;46&nbsp;from&nbsp;6&nbsp;companies.<br>
And many more..<br>
&nbsp;</p>

<p><strong>2016 Batch</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
    <td>
    <p>No</p>
    </td>
    <td>
    <p>Company</p>
    </td>
    <td>
    <p>Offers</p>
    </td>
</tr>
<tr>
    <td>
    <p>1</p>
    </td>
    <td>
    <p>IBS Software</p>
    </td>
    <td>
    <p>2</p>
    </td>
</tr>
<tr>
    <td>
    <p>2</p>
    </td>
    <td>
    <p>Cognizant Technology Solutions</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>3</p>
    </td>
    <td>
    <p>Speridian</p>
    </td>
    <td>
    <p>4</p>
    </td>
</tr>
<tr>
    <td>
    <p>4</p>
    </td>
    <td>
    <p>GICE Group</p>
    </td>
    <td>
    <p>14</p>
    </td>
</tr>
<tr>
    <td>
    <p>5</p>
    </td>
    <td>
    <p>VEE Technologies</p>
    </td>
    <td>
    <p>46</p>
    </td>
</tr>
<tr>
    <td>
    <p>6</p>
    </td>
    <td>
    <p>SIX DEE TELECOM</p>
    </td>
    <td>
    <p>3</p>
    </td>
</tr>
<tr>
    <td>
    <p>7</p>
    </td>
    <td>
    <p>HINDHUJA GLOBAL SERVICES</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>8</p>
    </td>
    <td>
    <p>Unisis Solutions</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>9</p>
    </td>
    <td>
    <p>Mphasis - an HP company</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>10</p>
    </td>
    <td>
    <p>Tech Mahinfra</p>
    </td>
    <td>
    <p>15</p>
    </td>
</tr>
<tr>
    <td>
    <p>11</p>
    </td>
    <td>
    <p>Sutherland</p>
    </td>
    <td>
    <p>10</p>
    </td>
</tr>
<tr>
    <td>
    <p>12</p>
    </td>
    <td>
    <p>WIPRO</p>
    </td>
    <td>
    <p>5</p>
    </td>
</tr>
<tr>
    <td>
    <p>13</p>
    </td>
    <td>
    <p>Experion Glogal</p>
    </td>
    <td>
    <p>5</p>
    </td>
</tr>
<tr>
    <td>
    <p>14</p>
    </td>
    <td>
    <p>HCL TALENT CARE</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>15</p>
    </td>
    <td>
    <p>Procsys</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>16</p>
    </td>
    <td>
    <p>INOLTRO Technologies</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>17</p>
    </td>
    <td>
    <p>ACCENTA</p>
    </td>
    <td>
    <p>8</p>
    </td>
</tr>
<tr>
    <td>
    <p>18</p>
    </td>
    <td>
    <p>GATIKK Technologies</p>
    </td>
    <td>
    <p>6</p>
    </td>
</tr>
<tr>
    <td>
    <p>19</p>
    </td>
    <td>
    <p>ICICI</p>
    </td>
    <td>
    <p>11</p>
    </td>
</tr>
<tr>
    <td>
    <p>20</p>
    </td>
    <td>
    <p>Anik Soddisfare Technologies</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>21</p>
    </td>
    <td>
    <p>Esaf Microfinance</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>22</p>
    </td>
    <td>
    <p>SAIHA Technologies</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
</tbody>
</table>

<p>Total Offers :&nbsp;139&nbsp;from&nbsp;22&nbsp;companies.<br>
And many more..</p>

<p>&nbsp;</p>

<p><strong>2015 Batch</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
    <td>
    <p>No</p>
    </td>
    <td>
    <p>Company</p>
    </td>
    <td>
    <p>Offers</p>
    </td>
</tr>
<tr>
    <td>
    <p>1</p>
    </td>
    <td>
    <p>ICICI Prudential</p>
    </td>
    <td>
    <p>8</p>
    </td>
</tr>
<tr>
    <td>
    <p>2</p>
    </td>
    <td>
    <p>Marrs</p>
    </td>
    <td>
    <p>5</p>
    </td>
</tr>
<tr>
    <td>
    <p>3</p>
    </td>
    <td>
    <p>Asianet Broadband</p>
    </td>
    <td>
    <p>8</p>
    </td>
</tr>
<tr>
    <td>
    <p>4</p>
    </td>
    <td>
    <p>WIPRO</p>
    </td>
    <td>
    <p>8</p>
    </td>
</tr>
<tr>
    <td>
    <p>5</p>
    </td>
    <td>
    <p>KGISL</p>
    </td>
    <td>
    <p>3</p>
    </td>
</tr>
<tr>
    <td>
    <p>6</p>
    </td>
    <td>
    <p>Techonz</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>7</p>
    </td>
    <td>
    <p>Mereena Group of Companies</p>
    </td>
    <td>
    <p>5</p>
    </td>
</tr>
<tr>
    <td>
    <p>8</p>
    </td>
    <td>
    <p>GATIKK Technologies</p>
    </td>
    <td>
    <p>3</p>
    </td>
</tr>
<tr>
    <td>
    <p>9</p>
    </td>
    <td>
    <p>ICICI Securities</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>10</p>
    </td>
    <td>
    <p>MGF Hyundai</p>
    </td>
    <td>
    <p>5</p>
    </td>
</tr>
<tr>
    <td>
    <p>11</p>
    </td>
    <td>
    <p>Medas</p>
    </td>
    <td>
    <p>1</p>
    </td>
</tr>
<tr>
    <td>
    <p>12</p>
    </td>
    <td>
    <p>Axis Bank</p>
    </td>
    <td>
    <p>4</p>
    </td>
</tr>
</tbody>
</table>

<p>Total Offers :&nbsp;52&nbsp;from&nbsp;12&nbsp;companies.<br>
And many more..</p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_update'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>





    {% endblock %}    