{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>Principal</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><table border="1" cellpadding="1" cellspacing="1" style="width:100%">
<tbody>
<tr>
    <td style="width:70%">
    <p>&nbsp;</p>

    <p>Welcome to KVM College of Engineering and IT. With her cross-cultural academic, research and industry experience, our principal <strong>Dr. Manjula Devananda</strong>, envisions to meet this organisation’s vision, to be the “Desired Destination” for Education and Research, to its fullest.</p>

    <h3><span style="color:#ff9966"><strong>Dr. Manjula Devananda (B. Tech, M.E., Ph.D.)</strong></span></h3>

    <p><strong>Academic milestones</strong>:</p>

    <ul>
        <li>Ph.D. from the University of Otago, New Zealand, with Otago Doctoral Scholarship.</li>
        <li>M.E (CSE) from the Karunya University, Coimbatore, with First Rank (Gold medal).</li>
        <li>B. Tech (CSE) from College of Engineering Kallooppara (affiliated to CUSAT).</li>
    </ul>

    <p><strong>Experience:</strong></p>

    <p>Dr. Manjula’s academic experience spans across various institutions in Kerala and with various departments at University of Otago, New Zealand. Her research experience spans from being a research exchange student at University of Saskatchewan, Canada during her masters, an R &amp; D project engineer at Wipro Technologies Pvt. Ltd, to a health data scientist at Airmed Pvt Ltd, New Zealand.</p>

    <p>&nbsp;</p>

    <p>Her other remarkable achievements include:</p>

    <p>• Recipient of Callaghan Innovation early career research grant by Ministry of Business, Innovation and Education, New Zealand.</p>

    <p>• Recipient (one among 17 around the globe) of GSEP Fellowship by the Canadian Bureau for International Education (CBIE) on behalf of the DFAIT Canada.</p>

    <p>&nbsp;</p>

    <p><strong>Research interests</strong>:</p>

    <p>Information systems, Data science application domains, Explainable AI</p>

    <p>&nbsp;</p>

    <p><strong>Trainings hosted</strong></p>

    <p>• Career perspectives of data science for Department of CSE, University College of Engineering, Kariavattom, 18th June, 2020</p>

    <p>• Programming Challenge 4 Girls, Department of Information Science, University of Otago, Dunedin, 23-24 Nov 2015</p>

    <p>&nbsp;</p>

    <p><strong>Publications and presentations:</strong></p>

    <p>• Manjula Devananda, Stephen Cranefield, Hywel Lloyd and Michael Winikoff. "Patient Information Model to Support Population-level Workload Analysis". Australasian Conference on Information Systems (ACIS 2017). https://www.acis2017.org/</p>

    <p>• Devananda, Manjula; Cranefield, Stephen; Winikoff, Michael; and Lloyd, Hywel, (2017). "Workload Prediction Model Of A Primary Health Centre". In Proceedings of the 25th European Conference on Information Systems (ECIS), Guimarães, Portugal, June 5-10, 2017 (pp. 1192-1204). ISBN 978-989-207655. http://aisel.aisnet.org/ecis2017_rp/77</p>

    <p>• Bastin Tony Roy Savarimuthu, Sherlock Licorish, Manjula Devananda, Georgia Greenheld, Virginia Dignum and Frank Dignum. Developers responses to app review feedback A study of communication norms in app development, COIN@AAMAS 2017.</p>

    <p>• Paper “A deterministic Inter-leaver suitable for Turbo Codes using VHDL for IEEE 802.16e standard” presented at UGC Sponsored National Seminar on VLSI Design and Embedded Systems 2009.</p>

    <p>•&nbsp;James Nind, Alesha Smith, Manjula Devananda, Benoit Auray. "A whole of population retrospective observational study on the rates of polypharmacy in New Zealand 2014 to 2018 Polypharmacy in New Zealand: What is the current status?"</p>

    <p>February 2021, Health Science Reports 4(2) &nbsp;DOI: 10.1002/hsr2.263<br>
    •&nbsp;Bastin Tony Roy Savarimuthu, Sherlock A. Licorish, Manjula Devananda Georgia Greenheld, Virginia Dignum, Frank Dignum &nbsp;"<br>
    Developers’ Responses to App Review Feedback – A Study of Communication Norms in App Development" In book: Coordination, Organizations, Institutions, Norms, and Ethics for Governance of Multi-Agent Systems XIII, April 2021<br>
    DOI: 10.1007/978-3-030-72376-7_4<br>
    &nbsp;</p>

    <p>&nbsp;</p>

    <p><strong>Join our KVM CE &amp; IT family to embark a new journey.</strong></p>
    </td>
    <td style="width:30%"><img alt="" src="../static/adminapp/img/staff/manjulamiss.jpeg" style="height:352px; width:388px"></td>
</tr>
</tbody>
</table>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_update'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>


{% endblock %}
