{% extends 'adminapp/alayout.html' %}
{% block content %}

<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>
    
<div class="main-content">
    <div class="topImg clearfix wrapper">
                
        <img src="../static/adminapp/img/campus/pic8.jpeg" alt="About Us">
        <div class="container">
        <p>Profile</p>
        </div>
    </div>

    
    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="container">
            <div class="row align-items-top">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="../static/adminapp/img/director.jpg" alt="Image">
                    </div>
                    Dr. V.V Pyarelal ( Chairman )

                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header text-left">
                        <h2>Chairman's Message</h2>
                    </div>
                    <div class="about-text">
                        <p>Another academic is round the corner and along with it arise the need for making new resolutions and practices that ensure the safety of students entrusted to our care. We must protect the essentials of life: our air, biodiversity, soils and water, so that they can continue to provide us with the services on which we rely. We must repair the damage done to our natural environment by restoring natural connections that have been broken. We must improve the quality and diversity of our environments, so that they are better able to respond to future pressures. We should set our sights on a vision that inspires us to act now and in the longer term so that our essential natural assets will be contributing fully to robust and resilient ecosystems, providing a wide range of goods and services so that increasing numbers of people enjoy benefits from a healthier natural environment.</p>
                        <p>Engineering Technology is a profession in which the knowledge of mathematics and natural sciences gained by higher education, experience and practice is devoted primarily to the implementation and extension of existing technology for the benefit of humanity. Here the students gain practice in product improvement, manufacture, construction and other engineering operational functions. The programs are designed to meet the growing needs created by the technology revolution for college educated problem solvers who work together as a team.</p>
                        <p>The K V M group of institutions has an effective and functional anti ragging squad consisting of the various heads of the different institutions, government officials, teachers and student representatives. This squad is very active throughout the year, so that unnecessary harassment in the name of ragging does not deter the students from their studies. A congenial and stress free environment is essential for students taking professional courses; hence all precautions are taken by the management to ensure that the students are not emotionally or physically harassed in the name of ragging. The Squad in the campus conducts surprise visits to the hostel and classes to keep the offenders out of making trouble; The Anti Ragging Cell accepts all complaints so that offences are redressed in prompt manner.</p>
                        <p>The Placement Cell in the campus accepts applications from students who need training in personality development, leadership and life skills and communication skills. On entry the students are provided with orientation sessions in language skills, good manners and discipline and at exit they are prepared to face interviews prior to placement. All the students of the colleges are placed in prestigious institutions in the campus placement sessions organized every year.</p>
                        <p>So the students entrusted with us have a great responsibility ahead of them. They should utilize every opportunity offered to them to collect knowledge with sincerity and perseverance so that they become capable of making a creditable contribution to the society they serve, through team spirit that leads to great achievements.</p>
                    

                                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


<!---
     
           
    
            <section class="blog-section bg-grey bd-bottom padding">
                
                <div class="container">
                   <div class="row blog-sidebar">
                       <div class="col-lg-8 sm-padding">
                            <div class="blog-single-wrap">
                                <figure class="featured-img">
                                    <h2>Profile</h2>
                                
                                    <img src="../static/adminapp/img/director.jpg" alt="Featured Image">
                                </figure><-- /.featured-img --
                                <div class="post-head">
                                    <h2>Chairman's message</h2>
                                   
                                </div><-- /.post-head --
                                <p>Another academic is round the corner and along with it arise the need for making new resolutions and practices that ensure the safety of students entrusted to our care. We must protect the essentials of life: our air, biodiversity, soils and water, so that they can continue to provide us with the services on which we rely. We must repair the damage done to our natural environment by restoring natural connections that have been broken. We must improve the quality and diversity of our environments, so that they are better able to respond to future pressures. We should set our sights on a vision that inspires us to act now and in the longer term so that our essential natural assets will be contributing fully to robust and resilient ecosystems, providing a wide range of goods and services so that increasing numbers of people enjoy benefits from a healthier natural environment.</p>
                                <p>Engineering Technology is a profession in which the knowledge of mathematics and natural sciences gained by higher education, experience and practice is devoted primarily to the implementation and extension of existing technology for the benefit of humanity. Here the students gain practice in product improvement, manufacture, construction and other engineering operational functions. The programs are designed to meet the growing needs created by the technology revolution for college educated problem solvers who work together as a team.</p>
                                <p>The K V M group of institutions has an effective and functional anti ragging squad consisting of the various heads of the different institutions, government officials, teachers and student representatives. This squad is very active throughout the year, so that unnecessary harassment in the name of ragging does not deter the students from their studies. A congenial and stress free environment is essential for students taking professional courses; hence all precautions are taken by the management to ensure that the students are not emotionally or physically harassed in the name of ragging. The Squad in the campus conducts surprise visits to the hostel and classes to keep the offenders out of making trouble; The Anti Ragging Cell accepts all complaints so that offences are redressed in prompt manner.</p>
                                <p>The Placement Cell in the campus accepts applications from students who need training in personality development, leadership and life skills and communication skills. On entry the students are provided with orientation sessions in language skills, good manners and discipline and at exit they are prepared to face interviews prior to placement. All the students of the colleges are placed in prestigious institutions in the campus placement sessions organized every year.</p>
                                <p>So the students entrusted with us have a great responsibility ahead of them. They should utilize every opportunity offered to them to collect knowledge with sincerity and perseverance so that they become capable of making a creditable contribution to the society they serve, through team spirit that leads to great achievements.</p>


                                -->
                                
                              
                             
  

  

   





<!-- </div>/.main-content -->









{% endblock %}

