<section class="slider-section">
    <div class="slider-wrapper">
        <div id="main-slider" class="nivoSlider">
            <div id="main-slider" class="nivoSlider">

                <img src="../static/adminapp/img/engslider1.jpg" alt="" title="#slider-caption-1"/>
                <img src="../static/adminapp/img/engslider1.jpg" alt="" title="#slider-caption-1"/>
                <img src="../static/adminapp/img/engslider1.jpg" alt="" title="#slider-caption-1"/>


                <img src="../static/adminapp/img/slider-2.jpg" alt="" title="#slider-caption-1"/>
                <img src="../static/adminapp/img/engslider1.jpg" alt="" title="#slider-caption-3"/>

                <img src="../static/adminapp/img/slider-2.jpg" alt="" title="#slider-caption-2"/>
                <img src="../static/adminapp/img/slider-3.jpg" alt="" title="#slider-caption-3"/>
            </div>



            <!-- <img class="nivo-main-image" src="../static/adminapp/img/engslider1.jpg"
                style="display: inline; height: 415px; width: 985px;"> -->
             <div class="nivo-caption" style="display: block;">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="slider-text">
                                <h1 class="wow cssanimation fadeInTop  animated" data-wow-delay="1s" data-wow-duration="800ms"
                                    style="visibility: visible; animation-duration: 800ms; animation-delay: 1s; animation-name: bfadeInTop;">
                                    We provide outstanding <br>building <span>construction </span> services</h1>
                                <p class="wow cssanimation fadeInBottom  animated" data-wow-delay="1s"
                                    style="visibility: visible; animation-delay: 1s; animation-name: bfadeInBottom;">We have provided
                                    complete remodeling and construction solutions for <br>residential and commercial properties in
                                    cities.</p>
                                <a href="#" class="default-btn wow cssanimation fadeInBottom  animated" data-wow-delay="0.8s"
                                    style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;">Get
                                    Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> 
             <div class="nivo-directionNav"><a class="nivo-prevNav"><i class="ti-arrow-left"></i></a><a
                    class="nivo-nextNav"><i class="ti-arrow-right"></i></a></div>
            <div class="nivo-slice" name="0"
                style="left: 0px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-0px;"></div>
            <div class="nivo-slice" name="1"
                style="left: 66px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="..static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-66px;"></div>
            <div class="nivo-slice" name="2"
                style="left: 132px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-132px;"></div>
            <div class="nivo-slice" name="3"
                style="left: 198px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-198px;"></div>
            <div class="nivo-slice" name="4"
                style="left: 264px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-264px;"></div>
            <div class="nivo-slice" name="5"
                style="left: 330px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-330px;"></div>
            <div class="nivo-slice" name="6"
                style="left: 396px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-396px;"></div>
            <div class="nivo-slice" name="7"
                style="left: 462px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-462px;"></div>
            <div class="nivo-slice" name="8"
                style="left: 528px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-528px;"></div>
            <div class="nivo-slice" name="9"
                style="left: 594px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-594px;"></div>
            <div class="nivo-slice" name="10"
                style="left: 660px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-660px;"></div>
            <div class="nivo-slice" name="11"
                style="left: 726px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-726px;"></div>
            <div class="nivo-slice" name="12"
                style="left: 792px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-792px;"></div>
            <div class="nivo-slice" name="13"
                style="left: 858px; width: 66px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-858px;"></div>
            <div class="nivo-slice" name="14"
                style="left: 924px; width: 61px; height: 415px; opacity: 1; overflow: hidden; bottom: 0px;"><img
                    src="../static/adminapp/img/slider-1.jpg"
                    style="position:absolute; width:985px; height:auto; display:block !important; top:0; left:-924px;"></div>

        </div>
        <!-- /#main-slider-->





        <!-- /#slider-caption-1 -->
        <div id="slider-caption-1" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1 class="wow cssanimation fadeInTop animated" data-wow-delay="1s" data-wow-duration="800ms"
                                style="visibility: visible; animation-duration: 800ms; animation-delay: 1s; animation-name: bfadeInTop;">
                                We provide outstanding <br>building <span>construction </span> services</h1>
                            <p class="wow cssanimation fadeInBottom animated" data-wow-delay="1s"
                                style="visibility: visible; animation-delay: 1s; animation-name: bfadeInBottom;">We have provided
                                complete remodeling and construction solutions for <br>residential and commercial properties in
                                cities.</p>
                            <a href="#" class="default-btn wow cssanimation fadeInBottom animated" data-wow-delay="0.8s"
                                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;">Get Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#slider-caption-2 -->
        <div id="slider-caption-2" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="slider-text text-center">
                            <h1 class="wow cssanimation fadeInTop animated" data-wow-delay="1s" data-wow-duration="800ms"
                                style="visibility: visible; animation-duration: 800ms; animation-delay: 1s; animation-name: bfadeInTop;">
                                We are professional <br>for <span>building</span> construction</h1>
                            <p class="wow cssanimation fadeInBottom animated" data-wow-delay="1s"
                                style="visibility: visible; animation-delay: 1s; animation-name: bfadeInBottom;">We have provided
                                complete remodeling and construction solutions for <br>residential and commercial properties in
                                cities.</p>
                            <a href="#" class="default-btn wow cssanimation fadeInBottom animated" data-wow-delay="0.8s"
                                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;">Get Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#slider-caption-3 -->
        <div id="slider-caption-3" class="nivo-html-caption slider-caption">
            <div class="display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="slider-text text-right">
                            <h1 class="wow cssanimation fadeInTop animated" data-wow-delay="1s" data-wow-duration="800ms"
                                style="visibility: visible; animation-duration: 800ms; animation-delay: 1s; animation-name: bfadeInTop;">
                                We will be happy to take care<br> of your <span>construction</span> works</h1>
                            <p class="wow cssanimation fadeInBottom animated" data-wow-delay="1s"
                                style="visibility: visible; animation-delay: 1s; animation-name: bfadeInBottom;">We have provided
                                complete remodeling and construction solutions for <br>residential and commercial properties in
                                cities.</p>
                            <a href="#" class="default-btn wow cssanimation fadeInBottom animated" data-wow-delay="0.8s"
                                style="visibility: visible; animation-delay: 0.8s; animation-name: bfadeInBottom;">Get Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#slider-caption-3 -->
    </div><!-- /.slider-wrapper -->
</section><!-- /.slider-Section -->


