{% extends 'adminapp/alayout.html' %}
{% block content %}

<div class="header-height" style="height: 130px;"></div>
<div class="main-content">
    <link rel="stylesheet" href="../static/adminapp/css/main2.css">



    <div id="content">
        <div class="topImg clearfix wrapper">
        
            <img src="../static/adminapp/img/banner.jpg" alt="About Us">
            <div class="container">
             <p>M B A</p>
            </div>
        </div>
        <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>Ambassodors</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><p><strong>BRAND AMBASSODORS OF THE WEEK</strong></p>

<p><img alt="" src="../static/adminapp/img/ambassodors/Abhinav.jpg" style="height:150px; width:150px"></p>Abhinav

<p><strong>Mr ABHINAV.J</strong></p>

<p><strong>KVM IM is a heaven of oppurtunities .once you get in this community, you will never in life be alone, in the business world.</strong></p>

<p>&nbsp;</p>

<p><strong><img alt="" src="../static/adminapp/img/ambassodors/ARCHANA.jpg" style="height:150px; width:150px"></strong></p>

<p><strong>M/S ARCHANA MOHAN</strong></p>

<p><strong>A Good option for the one who truly wants to&nbsp; be successful and acquire standards.</strong></p>

<p>&nbsp;</p>

<p><img alt="" src="../static/adminapp/img/ambassodors/KAVYA.jpg" style="height:150px; width:150px"></p>

<p><strong>M/s KAVYA</strong></p>

<p><strong>“I Like new things and challenging yourself ..KVM provides&nbsp; that”</strong></p>

<p>&nbsp;</p>

<p><img alt="" src="../static/adminapp/img/ambassodors/AKHIL RAJ.jpg" style="height:150px; width:150px"></p>

<p><strong>Mr.AKHIL RAJ</strong></p>

<p><strong>KVM IM meant,not only to groom your academics but also to enhance in own interest.</strong></p>

<p>&nbsp;</p>

<p><img alt="" src="../static/adminapp/img/ambassodors/VARSHA.jpg" style="height:150px; width:150px"></p>

<p><strong>M/s VARSHA</strong></p>

<p><strong>“KVM had nurtured me to keep up with that and never change foe anyone else”</strong></p>

<p>&nbsp;</p>

<p><img alt="" src="../static/adminapp/img/ambassodors/CHINNU.jpg" style="height:150px; width:150px"></p>

<p><strong>M/s CHINNU </strong></p>

<p><strong>“Kvm provides a platform where I can get opportunity to get ameliorate and groom in every field”.</strong></p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul><li><a href="{% url 'mbaintro'%}"><button type="button" class="btn btn-box">Introduction</button></a></li><li><a href="{% url 'mbafaculty'%}">

                                        <button type="button" class="btn btn-box">List of Faculty</button>

                                        </a></li></ul>
            </div>
                <div class="clearfix">
                
                    <div class="box">

                                        <h4>Related Links</h4>

                                           <div class="boxInfo archives">

                                         <ul><li><a href="{% url 'mbaadmission'%}">Admission</a></li><li><a href="{% url 'mbabrochure'%}">Brochure</a></li></ul></div>

                                                </div>
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>


  </div>







    {% endblock %}    