{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    
        <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>Admission</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><h3>Admissions – MBA Programme 2020-2022</h3>

<p>KVM Institute of Management Studies invites applications for admission to its two years Full Time MBA Program – Batch 2020-22</p>

<p>Total intake: 60 seats</p>

<p>Date of issue of application forms: <strong>01/01/2020</strong></p>

<h3>Eligibility</h3>

<p>A pass in degree examination with minimum 50% marks in aggregate for Arts/Commerce /Science/ Engineering. Final year students are also eligible to apply<br>
Good score in any Management Aptitude Test- C-MAT / CAT/KMAT</p>

<h3>Selection</h3>

<p>The selection of candidates is purely based on merit. Admission to the MBA programme is determined by the scores obtained by the candidate in the admission test, group discussion,personal interview and a consistent academic record .</p>

<h3>How to Apply</h3>

<p>Application form and prospectus can be obtained directly either at the college office or at the KVM Trust office by paying Rs 500/-. Application form and prospectus can be downloaded from our website, www.kvmce.in and the filled application form can be forwarded to the college office along with a demand draft of Rs. 500/- in favour of KVM College of Engg &amp; IT, payable at Cherthala</p>

<p><a href="http://www.kvmce.in/fileloader.php?fname=MzE1NjgzNzAucGRm">Download Application Form</a></p>

<p><strong>*</strong>Contact Office for further information.</p>

<h3>MBA Admission 2020-22&nbsp;Fee Structure<strong> </strong></h3>

<table border="5" cellpadding="1" cellspacing="1">
<tbody>
<tr>
    <td>&nbsp;</td>
    <td>Ist Installment</td>
    <td>2nd Installment</td>
    <td>3rd Installment</td>
    <td>4th Installment</td>
</tr>
<tr>
    <td>Admission Fees</td>
    <td>1000</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
</tr>
<tr>
    <td>Tuition Fees</td>
    <td>60000</td>
    <td>60,000</td>
    <td>60,000</td>
    <td>60,000</td>
</tr>
<tr>
    <td>
    <p>University Registration Fees</p>
    </td>
    <td>2000</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
</tr>
<tr>
    <td>Caution Deposit</td>
    <td>5000</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Total</strong></td>
    <td>68,000</td>
    <td>60,000</td>
    <td>60,000</td>
    <td>60,000</td>
</tr>
<tr>
    <td style="text-align:center">MERIT SCHOLARSHIPS ON TUTION FEE ONLY</td>
    <td colspan="4" style="text-align:center">TO BE DECIDED BY MANAGEMENT</td>
</tr>
</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
    <td colspan="3">
    <p>Note: Fees are subjected to changes by Government/University Orders, time to time</p>
    </td>
</tr>
</tbody>
</table>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul><li><a href="{% url 'mbaintro'%}"><button type="button" class="btn btn-box">Introduction</button></a></li><li><a href="{% url 'mbafaculty'%}">

                                        <button type="button" class="btn btn-box">List of Faculty</button>

                                        </a></li></ul>
            </div>
                <div class="clearfix">
                
                    <div class="box">

                                        <h4>Related Links</h4>

                                           <div class="boxInfo archives">

                                         <ul><li><a href="http://www.kvmce.in/department/m-b-a/admission-mba">Admission</a></li><li><a href="http://www.kvmce.in/department/m-b-a/brochure-mba">Brochure</a></li><li><a href="http://www.kvmce.in/department/m-b-a/ambassodors">Ambassodors</a></li></ul></div>

                                                </div>
                    
                </div>   
                         
            </div>
</div>
<p>•	Considering the ever increasing demand for professionally qualified techno managerial experts, M/s KVM College of Engineering & IT started MBA programme in the year 2008 affiliated to CUSAT, (now affiliated to KTU and approved by AICTE)KVM MBA is all set to re-define the management education across B-schools.</p>

            <div class="clear"></div>

            </div>


        </div>











{% endblock %}    