{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


    
<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class=" col-md-9  column clearfix">
            <div class="box">
                <h4>Introduction</h4>
                <div class="boxInfo">
                    
                    <div>
                    <p></p><table summary="Sample Table">
<thead>
<tr>
<th scope="col">Course</th>
<th scope="col">Duration</th>
<th scope="col">Intake</th>
<th scope="col">&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td>MBA</td>
<td>2 Years</td>
<td>60</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<p><a href="https://ktu.edu.in/data/KTU%20MBA%20Ordinance%20approved%20by%20ABM.pdf" target="_blank">MBA Ordinance. -&gt; Click here to download</a></p>

<p><a href="https://ktu.edu.in/data/MBA_Course_Structure_as_approved_by_ABM.pdf" target="_blank">MBA_Course_Structure. -&gt; Click here to download</a></p>

<p>&nbsp;</p>

<p>Considering the ever increasing demand for professionally qualified techno managerial experts, M/s KVM College of Engineering &amp; IT started MBA programme in the year 2008 affiliated to CUSAT, KVM MBA is all set to re-define the management education across B-schools.</p>

<p>The Master in Business Administration (MBA) programme is aimed to cater to the demands of management professionals and prepare its graduating students for a challenging career through an intensive and rigorous curriculum. The programme endeavours for holistic development of its students, thereby making them intellectually, socially, physically, and spiritually balanced human beings. We believe in an education system that looks beyond employment and concentrates on individual development by imparting `Life Skills` and enhancing life time opportunities</p>

<p><a href="http://application.kvmce.in">Apply Now</a></p>

<h3><strong>Library</strong></h3>

<p>Well resourced library with national and international journals and periodicals. Wi-Fi enabled reading room. The library operates on an open access system. We have a collection of 2000 books, 1 national and 7 international journals, 35 periodicals and CDs/ DVDs which are of immense help to the students and faculty members.</p>
<p></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
            <ul><li><a href="{% url 'mbaintro'%}"><button type="button" class="btn btn-box">Introduction</button></a></li>
                <li><a href="{% url 'mbafaculty'%}"><button type="button" class="btn btn-box">List of Faculty</button>
                    <li><a href="{% url 'university_update'%}"><button type="button" class="btn btn-box">University Updates</button>

                                    </a></li></ul>
        </div>
            <!-- <div class="clearfix">
            
                <div class="box">

                                    <h4>Related Links</h4>

                                       <div class="boxInfo archives">

                                     <ul><li><a href="http://www.kvmce.in/department/m-b-a/admission-mba">Admission</a></li><li><a href="http://www.kvmce.in/department/m-b-a/brochure-mba">Brochure</a></li><li><a href="http://www.kvmce.in/department/m-b-a/ambassodors">Ambassodors</a></li></ul></div>

                                            </div>
                
            </div>    -->
                     
        </div>
</div>
        <div class="clear"></div>

        </div>
    </div>
{% endblock %}    




