{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>MCA Eligibility </h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><p><strong>MCA</strong> <strong>(2 Year) </strong></p>

<p style="margin-left:40px; text-align:justify"> Passed BCA/ Bachelor Degree in Computer Science Engineering or equivalent<br>
Degree.&nbsp;<br>
OR<br>
Passed B.Sc./ B.Com./ B.A. with Mathematics at 10+2 Level or at Graduation Level<br>
(with additional bridge Courses as per the norms of the concerned University).<br>
 Obtained at least 50% marks (45% marks in case of candidates belonging to<br>
reserved category) in the qualifying Examination<br>
 Must qualify entrance examination conducted by a competent authority as per the<br>
rules and regulations of APJ/AICTE/Govt.</p>

<p style="margin-left:40px">&nbsp;</p>

<p>&nbsp;</p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="http://www.kvmce.in/pages/kvm-trust">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="http://www.kvmce.in/pages/courses">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="http://www.kvmce.in/pages/placement">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="http://www.kvmce.in/pages/university-updates">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>





{% endblock %}