{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

	
<div class="wrapper">
	<div class="container">
	<div class="row">
		<div class=" col-md-9  column clearfix">
			<div class="box">
				<h4>Admission </h4>
				<div class="boxInfo">
					
					<div>
					<p></p><p style="text-align:center"><strong><span style="color:black; font-family:times new roman,serif; font-size:12.0pt">Applications are invited from eligible candidates for admission,</span></strong></p>

<p>&nbsp;</p>

<p><strong>MCA (Regular 2 Years)<br>
Intake - 60<br>
MCA is a Post Graduate programme spread over 4 semesters....<br>
Batches are recognized by KTU. Excellent performance in MCA Degree Examinations (Previous batches were recognised by CUSAT).</strong></p>

<p><strong>ELIGIBILITY CRITERIA: </strong></p>

<p>Passed BCA/ Bachelor Degree in Computer Science Engineering or equivalent Degree.&nbsp;<br>
OR<br>
Passed B.Sc./ B.Com./ B.A. with Mathematics at 10+2 Level or at Graduation Level (with additional bridge Courses as per the norms of the concerned University).</p>

<p>Obtained at least 50% marks (45% marks in case of candidates belonging to reserved category) in the qualifying Examination</p>

<p>Must qualify entrance examination conducted by a competent authority as per the rules and regulations of APJ/AICTE/Govt.</p>

<p><strong>Admission Procedure:</strong></p>

<p>Applications can be submitted&nbsp;Online.</p>

<p>&nbsp;</p>

<p><a href="http://app.kvmtrust.in/index.php/application_form">Pre-enquiry Form</a></p>

<p><a href="http://application.kvmce.in">Apply Online</a></p>

<p><strong>Merit/Management Quota Admission based on Kerala MCA Entrance</strong></p>

<p>Kerala MCA Entrance Test 2021 Notification and prospectus is announced&nbsp;by LBS Centre for Science and Technology (LBSCS &amp; T) , Govt of Kerala, Thiruvananthapuram at Official Website&nbsp;<a href="https://lbscentre.in/mcompapplication2021/index.aspx"><strong>www.lbscentre.in</strong></a>.</p>

<p>Last date to Apply :- 19th July&nbsp;2021</p>

<p>&nbsp;</p>

<p style="text-align:center"><strong>Fees Details </strong></p>

<table border="0" cellpadding="0" cellspacing="0" style="width:615px">
<tbody>
<tr>
<td style="height:48px; width:165px">Particulars</td>
<td style="width:123px">Paying Time</td>
<td style="width:83px">Amount(S1)</td>
<td style="width:64px">S2</td>
<td style="width:64px">S3</td>
<td style="width:55px">S4</td>
<td style="width:61px">TOTAL</td>
</tr>
<tr>
<td style="height:40px; width:165px">Admission Fee</td>
<td style="width:123px">Firsr Semester Only</td>
<td style="width:83px">100</td>
<td style="width:64px">0</td>
<td style="width:64px">0</td>
<td style="width:55px">0</td>
<td style="width:61px">100</td>
</tr>
<tr>
<td style="height:40px; width:165px">Tuition Fee</td>
<td style="width:123px">Per Semester</td>
<td style="width:83px">25000</td>
<td style="width:64px">25000</td>
<td style="width:64px">25000</td>
<td style="width:55px">25000</td>
<td style="width:61px">100000</td>
</tr>
<tr>
<td style="height:40px; width:165px">Student University&nbsp; Registration fee</td>
<td style="width:123px">Firsr Semester Only</td>
<td style="width:83px">1000</td>
<td style="width:64px">0</td>
<td style="width:64px">0</td>
<td style="width:55px">0</td>
<td style="width:61px">1000</td>
</tr>
<tr>
<td style="height:40px; width:165px">Development Fee</td>
<td style="width:123px">Firsr Semester Only</td>
<td style="width:83px">0</td>
<td style="width:64px">0</td>
<td style="width:64px">0</td>
<td style="width:55px">0</td>
<td style="width:61px">0</td>
</tr>
<tr>
<td style="height:40px; width:165px">Laboratory Consumables &amp; Stationery</td>
<td style="width:123px">Per Year</td>
<td style="width:83px">500</td>
<td style="width:64px">0</td>
<td style="width:64px">500</td>
<td style="width:55px">0</td>
<td style="width:61px">1000</td>
</tr>
<tr>
<td style="height:40px; width:165px">Students insurance scheme</td>
<td style="width:123px">Per Year</td>
<td style="width:83px">1000</td>
<td style="width:64px">0</td>
<td style="width:64px">1000</td>
<td style="width:55px">0</td>
<td style="width:61px">2000</td>
</tr>
<tr>
<td style="height:40px; width:165px">Students Council</td>
<td style="width:123px">Firsr Semester Only</td>
<td style="width:83px">100</td>
<td style="width:64px">0</td>
<td style="width:64px">0</td>
<td style="width:55px">0</td>
<td style="width:61px">100</td>
</tr>
<tr>
<td style="height:40px; width:165px">Caution Deposit</td>
<td style="width:123px">Firsr Semester Only(Refundable)</td>
<td style="width:83px">5000</td>
<td style="width:64px">0</td>
<td style="width:64px">0</td>
<td style="width:55px">0</td>
<td style="width:61px">5000</td>
</tr>
<tr>
<td style="height:40px; width:165px">PTA</td>
<td style="width:123px">Firsr Semester Only</td>
<td style="width:83px">250</td>
<td style="width:64px">0</td>
<td style="width:64px">0</td>
<td style="width:55px">0</td>
<td style="width:61px">250</td>
</tr>
<tr>
<td style="height:40px; width:165px">TOTAL FEE</td>
<td style="width:123px">&nbsp;</td>
<td style="width:83px">32950</td>
<td style="width:64px">25000</td>
<td style="width:64px">26500</td>
<td style="width:55px">25000</td>
<td style="width:61px">109450</td>
</tr>
<tr>
<td style="height:40px">Total Course Fee for 2 year</td>
<td colspan="6" style="width:449px">Rs.109450/-</td>
</tr>
<tr>
<td style="height:40px">Uniform Charges Extra&nbsp;</td>
<td colspan="6">(For Girls Rs.1600/-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; , For Boys Rs.1250/-(Material only)</td>
</tr>
<tr>
<td style="height:40px; width:165px">Examination Fee Extra</td>
<td colspan="6">Rs.1700/ per Semester</td>
</tr>
</tbody>
</table>

<p><a href="http://application.kvmce.in">Apply Online</a></p>

<p>For any further clarification, please feel free to contact us at :</p>

<p><strong>HOD</strong>: 9400026744</p>

<p>0478-2811080/707,&nbsp;9446573475.</p>
<p></p>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
			<ul><li><a href="{% url 'mcaintro'%}"><button type="button" class="btn btn-box">Introduction</button></a></li><li><a href="{% url 'mcafaculty'%}">

									<button type="button" class="btn btn-box">List of Faculty</button>

									</a></li></ul>
		</div>
			<div class="clearfix">
			
				<div class="box">

									<h4>Related Links</h4>

									   <div class="boxInfo archives">

									 <ul><li><a href="http://www.kvmce.in/department/m-c-a/admission-mca">Admission </a></li><li><a href="http://www.kvmce.in/department/m-c-a/innovative-project-mca">Innovative Project Works</a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-syllabus">Syllabus </a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-prev-quest-papers">MCA Previous Questions KTU</a></li><li><a href="http://www.kvmce.in/department/m-c-a/extracurricular-activities">Extracurricular activities</a></li></ul></div>

											</div>
				
			</div>   
					 
		</div>
</div>
		<div class="clear"></div>

		</div>
	</div>
{% endblock %}