{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class=" col-md-9  column clearfix">
            <div class="box">
                <h4>Introduction</h4>
                <div class="boxInfo">
                    
                    <div>
                    <p></p><h2 style="font-style:normal">Computer Applications&nbsp;</h2>

<h3><span style="color:#FF0000"><span style="font-family:arial,helvetica,sans-serif"><strong>College Code : KEA</strong></span></span></h3>

<div class="account-pass" style="box-sizing: border-box; padding: 1.5em 0px 0px; color: rgb(51, 51, 51); font-family: ">
<div class="col-md-9 account-top" style="box-sizing: border-box; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; float: left; width: 855px;">
<table class="tsc_table_s4" style="background-color:transparent; border-collapse:collapse; border-spacing:0px; border:1px solid rgb(204, 204, 204); box-sizing:border-box; max-width:100%; width:825px" summary="Sample Table">
<thead>
<tr>
<th scope="col" style="text-align:left"><strong>Course</strong></th>
<th scope="col" style="text-align:left"><strong>Duration</strong></th>
<th scope="col" style="text-align:left"><strong>Intake</strong></th>
<th scope="col" style="text-align:left">&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><span style="color:#000000">MCA</span></td>
<td><span style="color:#000000">2 Years</span></td>
<td><span style="color:#000000">60</span></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>

<p>MCA is a post graduate degree programme spread over four semesters to bridge the chasm between computer studies and applications. We started the course in the year 2001. The program is approved by AICTE and affiliated to A.P.J. Abdul Kalam Technological University, Kerala. Batches are recognized by KTU. Excellent performance in&nbsp; MCA Degree examinations (Previous batches were recognised by CUSAT) and good placement records are major achievements of MCA department. The main objective of the programme is to provide professional training in the area of computer applications and to develop computer professionals to meet the demand of the fast growing IT industry who excel in their profession through innovative ideas, knowledge and team work. The department imparts computer education to MCA students through class room lectures, seminars, group exercises, industry visits, projects and guest lectures by eminent personalities of the IT industry.</p>

<p><strong><span style="color:#333333">Goal :&nbsp; “<em>Craft excellent IT professionals with moral values</em>”.</span></strong></p>

<p><span style="color:#444444"><strong>Highlights of the Department</strong></span></p>

<p style="margin-left:40px">•&nbsp;&nbsp; &nbsp;Secured University Ranks many times<br>
•&nbsp;&nbsp; &nbsp;Well qualified faculty members with teaching &amp; industry experience.<br>
•&nbsp;&nbsp; &nbsp;Excellent placement record<br>
•&nbsp;&nbsp; &nbsp;National &amp; International publications by faculty members and students<br>
•&nbsp;&nbsp; &nbsp;Highest pass percentage from CUSAT<br>
•&nbsp;&nbsp; &nbsp;State - of- art infrastructure<br>
•&nbsp;&nbsp; &nbsp;Awards for talented students<br>
•&nbsp;&nbsp; &nbsp;Soft skill and personality development training.</p>

<p><img alt="" src="http://www.kvmce.in/frmedia/1495794257_mca (2).jpg" style="height:267px; width:400px"></p>

<p><strong>Career Opportunities after MCA</strong></p>

<p>&nbsp;After getting an MCA degree, one can enter any of the following roles :</p>

<p>•&nbsp; Data Analyst<br>
•&nbsp; Data Engineer<br>
•&nbsp; Software Developer/ Programmer/ Engineer<br>
•&nbsp; Troubleshooter<br>
•&nbsp; System Analyst<br>
•&nbsp; Software Application Architect<br>
•&nbsp; Software Consultant<br>
•&nbsp; Hardware Engineer<br>
•&nbsp; Technical Writer<br>
•&nbsp; Systems Developer/Engineer<br>
•&nbsp; Web Designer and Developer<br>
•&nbsp; Starting a new Venture</p>

<p style="margin-left:40px"><span style="font-size:20px"><strong><a href="http://app.kvmtrust.in/index.php/application_form">Apply Online</a></strong></span></p>

<p style="margin-left:40px">&nbsp;</p>

<h3><strong>Library</strong></h3>

<p>Well resourced library with national and international journals and periodicals. Wi-Fi enabled reading room. The library operates on an open access system. We have a collection of 2000 books, 1 national and 7 international journals, 35 periodicals and CDs/ DVDs which are of immense help to the students and faculty members.</p>
</div>
</div>
<p></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
            <ul><li><a href="{% url 'mcaintro'%}"><button type="button" class="btn btn-box">Introduction</button></a></li><li><a href="{% url 'mcafaculty'%}">

                                    <button type="button" class="btn btn-box">List of Faculty</button></a></li>
                                    <li><a href="{% url 'university_update'%}"><button type="button" class="btn btn-box">University Updates</button>

                                </ul>
        </div>
            <div class="clearfix">
            
                <div class="box">
<!-- 
                                    <h4>Related Links</h4>

                                       <div class="boxInfo archives">

                                     <ul><li><a href="http://www.kvmce.in/department/m-c-a/admission-mca">Admission </a></li><li><a href="http://www.kvmce.in/department/m-c-a/innovative-project-mca">Innovative Project Works</a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-syllabus">Syllabus </a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-prev-quest-papers">MCA Previous Questions KTU</a></li><li><a href="http://www.kvmce.in/department/m-c-a/extracurricular-activities">Extracurricular activities</a></li></ul></div>

                                            </div> -->
                
            </div>   
                     
        </div>
</div>
        <div class="clear"></div>

        </div>
    </div>




{% endblock %}