{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">




<div class="wrapper">
	<div class="container">
	<div class="row">
		<div class=" col-md-9  column clearfix">
			<div class="box">
				<h4>MCA Previous Questions KTU</h4>
				<div class="boxInfo">
					
					<div>
					<p></p><p>MCA Previous Question Papers</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:650pt">
<tbody>
<tr>
<td colspan="5" style="height:15pt; text-align:center; width:493pt">MCA Previous Question Papers</td>
</tr>
<tr>
<td colspan="2" rowspan="1" style="height:15pt; text-align:center; width:255pt"><strong>S 1</strong></td>
<td style="text-align:center; width:238pt">&nbsp;</td>
<td colspan="2" rowspan="1" style="text-align:center; width:238pt"><strong>Year</strong></td>
</tr>
<tr>
<td style="height:30pt; width:12%">Course code</td>
<td style="width:35%">Subject</td>
<td style="text-align:center; width:6%">2016</td>
<td style="width:12%">&nbsp;</td>
<td style="width:35%">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">RLMCA101</span></td>
<td style="width:188pt"><span style="background-color:rgb(255, 255, 255); color:black; font-family:roboto,serif; font-size:10.5pt">PROBLEM SOLVING AND COMPUTER PROGRAMMING</span></td>
<td style="text-align:center; width:50pt"><a href="http://www.kvmce.in/fileloader.php?fname=OTQ2OTIwMjQxNi5wZGY="><img alt="" src="http://www.kvmce.in/frmedia/1501757944_1327636272_find-next.png" style="height:20px; width:20px"></a></td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">RLMCA 103</span></td>
<td style="width:188pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">DISCRETE MATHEMATICS</span></td>
<td style="text-align:center; width:50pt"><a href="http://www.kvmce.in/fileloader.php?fname=OTc0NTg5ODg5OC5wZGY="><img alt="" src="http://www.kvmce.in/frmedia/1501757944_1327636272_find-next.png" style="height:20px; width:20px"></a></td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">RLMCA105</span></td>
<td style="width:188pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">APPLIED PROBABILITY AND STATISTICS</span></td>
<td style="text-align:center; width:50pt"><a href="http://www.kvmce.in/fileloader.php?fname=MTIxNDI3MTQ1Ny5wZGY="><img alt="" src="http://www.kvmce.in/frmedia/1501757944_1327636272_find-next.png" style="height:20px; width:20px"></a></td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">RLMCA107</span></td>
<td style="width:188pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">PRINCIPLES OF MANAGEMENT</span></td>
<td style="text-align:center; width:50pt"><a href="http://www.kvmce.in/fileloader.php?fname=MTY3NzE4NDkxOS5wZGY="><img alt="" src="http://www.kvmce.in/frmedia/1501757944_1327636272_find-next.png" style="height:20px; width:20px"></a></td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">RLMCA109</span></td>
<td style="width:188pt"><span style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-family:roboto,serif; font-size:14px">DIGITAL FUNDAMENTALS</span></td>
<td style="text-align:center; width:50pt"><a href="http://www.kvmce.in/fileloader.php?fname=NDE5NDQ4MTc4Ny5wZGY="><img alt="" src="http://www.kvmce.in/frmedia/1501757944_1327636272_find-next.png" style="height:20px; width:20px"></a></td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:30.0pt; width:67pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
<td style="width:50pt">&nbsp;</td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
<td style="width:50pt">&nbsp;</td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
<td style="width:50pt">&nbsp;</td>
<td style="width:50pt">&nbsp;</td>
<td style="width:188pt">&nbsp;</td>
</tr>
<tr>
<td style="height:15.0pt; width:67pt">&nbsp;</td>
</tr>
</tbody>
</table>
<p></p>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
			<ul><li><a href="{% url 'mcaintro'%}"><button type="button" class="btn btn-box">Introduction</button></a></li><li><a href="{% url 'mcafaculty'%}">

									<button type="button" class="btn btn-box">List of Faculty</button>

									</a></li></ul>
		</div>
			<div class="clearfix">
			
				<div class="box">

									<h4>Related Links</h4>

									   <div class="boxInfo archives">

									 <ul><li><a href="http://www.kvmce.in/department/m-c-a/admission-mca">Admission </a></li><li><a href="http://www.kvmce.in/department/m-c-a/innovative-project-mca">Innovative Project Works</a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-syllabus">Syllabus </a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-prev-quest-papers">MCA Previous Questions KTU</a></li><li><a href="http://www.kvmce.in/department/m-c-a/extracurricular-activities">Extracurricular activities</a></li></ul></div>

											</div>
				
			</div>   
					 
		</div>
</div>
		<div class="clear"></div>

		</div>
	</div>

{% endblock %}