{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    
<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class=" col-md-9  column clearfix">
            <div class="box">
                <h4>Syllabus </h4>
                <div class="boxInfo">
                    
                    <div>
                    <p></p><p><a href="http://www.kvmce.in/fileloader.php?fname=NDg5NTAyODg4NS5wZGY=">Curriculum for Master of Computer Applications (MCA)</a></p>

<p><a href="http://www.kvmce.in/fileloader.php?fname=MzcwNzk0NDU2NC5wZGY=">MCA Syllabus S1&amp;S2&nbsp;</a></p>

<p><a href="http://www.kvmce.in/fileloader.php?fname=MzIwNzY4ODI4OC5wZGY=">MCA Bridge Course</a></p>
<p></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
            <ul><li><a href="{% url 'mcaintro'%}"><button type="button" class="btn btn-box">Introduction</button></a></li><li><a href="{% url 'mcafaculty'%}">

                                    <button type="button" class="btn btn-box">List of Faculty</button>

                                    </a></li></ul>
        </div>
            <div class="clearfix">
            
                <div class="box">

                                    <h4>Related Links</h4>

                                       <div class="boxInfo archives">

                                     <ul><li><a href="http://www.kvmce.in/department/m-c-a/admission-mca">Admission </a></li><li><a href="http://www.kvmce.in/department/m-c-a/innovative-project-mca">Innovative Project Works</a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-syllabus">Syllabus </a></li><li><a href="http://www.kvmce.in/department/m-c-a/mca-prev-quest-papers">MCA Previous Questions KTU</a></li><li><a href="http://www.kvmce.in/department/m-c-a/extracurricular-activities">Extracurricular activities</a></li></ul></div>

                                            </div>
                
            </div>   
                     
        </div>
</div>
        <div class="clear"></div>

        </div>
    </div>
{% endblock %}