{% extends 'adminapp/alayout.html' %}
{% block content %}

<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">



    <div class="wrapper">
        <div class="container">
        <div class="row">
            <div class=" col-md-9  column clearfix">
                <div class="box">
                    <h4>B.Tech Govt Quota</h4>
                    <div class="boxInfo">
                        
                        <div>
                        <p></p><p><strong><span style="color:#FF0000"><span style="font-size:16px">Institution Code: KVE</span></span></strong></p>

<p>50% seats of the sanctioned intake of students in B Tech courses are set apart for centralized allotment by the Commissioner for Entrance Examinations.</p>

<p><strong>The following documents are to be submitted at the time of admission:</strong></p>

<p style="margin-left:40px">1.&nbsp;&nbsp; &nbsp;Receipt of Fee remitted in the bank, as instructed by CEE.<br>
2.&nbsp;&nbsp; &nbsp;Mark list/and Pass certificate (where applicable) of 12th Standard/ Equivalent Exam in original with two attested copies.<br>
3.&nbsp;&nbsp; &nbsp;SSLC / equivalent certificate in original to prove date of birth with two attested copies of relevant page and marksheet.<br>
4.&nbsp;&nbsp; &nbsp;Physical Fitness certificate in the format provided in the prospectus for Entrance Exam.<br>
5.&nbsp;&nbsp; &nbsp;Transfer certificate in original from the institution last studied.<br>
6.&nbsp;&nbsp; &nbsp;Course and Conduct certificate in original from the institution last studied.<br>
7.&nbsp;&nbsp; &nbsp;Migration certificate in original, for students other than those passed Kerala Plus 2, VHSE, THSE.<br>
8.&nbsp;&nbsp; &nbsp;Allotment Memo from CEE.<br>
9.&nbsp;&nbsp; &nbsp;Admit card of Entrance Examination in original.<br>
10.&nbsp;&nbsp; &nbsp;Entrance Mark data sheet issued by CEE.<br>
11.&nbsp;&nbsp; &nbsp;Result sheet of Entrance Examination in original conducted by CEE.<br>
12.&nbsp;&nbsp; &nbsp;Four passport size and two stamp size (colour) photographs.<br>
13.&nbsp;&nbsp; &nbsp;Community/ Income certificate as proof in support of any claim for reservation.<br>
14.&nbsp;&nbsp; &nbsp;Proof for special reservation if applicable.</p>

<p>Candidates will be admitted only if they possess the marks eligible for admission as per University and Govt. Norms for the qualifying examination and entrance examination.</p>

<h1>&nbsp;</h1>

<h3><span style="color:#FF0000"><strong>Scholarship on tuition fee</strong></span></h3>

<table border="0" cellpadding="0" cellspacing="0" style="width:499px">
<tbody>
<tr>
    <td style="height:60px; width:117px">Category 1</td>
    <td style="width:188px">90% and above marks in PCM for HSE/CBSE/ISC and valid score in Entrance Examination</td>
    <td style="width:95px">with KEAM</td>
    <td style="width:99px">No Tuition fee</td>
</tr>
<tr>
    <td style="height:60px; width:117px">Category 2</td>
    <td style="width:188px">85% and above marks in PCM for HSE/CBSE/ISC and valid score in Entrance Examination</td>
    <td>with KEAM</td>
    <td style="width:99px">Rs.4000/-&nbsp;</td>
</tr>
<tr>
    <td style="height:60px; width:117px">Category 3</td>
    <td style="width:188px">75% and above marks in PCM for HSE/CBSE/ISC and valid score in Entrance Examination</td>
    <td>with KEAM</td>
    <td style="width:99px">Rs.6000/-</td>
</tr>
<tr>
    <td style="height:60px; width:117px">Category 4</td>
    <td style="width:188px">50% and above marks in PCM for HSE/CBSE/ISC and valid score in Entrance Examination</td>
    <td>with KEAM</td>
    <td style="width:99px">Rs.8000/-</td>
</tr>
<tr>
    <td style="height:21px; width:117px">Category 5</td>
    <td style="width:188px">Others</td>
    <td>&nbsp;</td>
    <td style="width:99px">Rs.20000/-</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:701px">
<tbody>
<tr>
    <td colspan="11"><span style="color:#FF0000">CATEGORY -1 ( 90 % AND ABOVE)FULL TUITION FEE WAIVER SCHEME</span></td>
</tr>
<tr>
    <td>Sl No</td>
    <td>Fees details</td>
    <td>First&nbsp; Sem</td>
    <td>Second&nbsp; Sem</td>
    <td>Third&nbsp; Sem</td>
    <td>Fourth&nbsp;&nbsp; Sem</td>
    <td>Fifth Sem</td>
    <td>Sixth Sem</td>
    <td>Seventh Sem</td>
    <td>Eighth Sem</td>
    <td>Total fee</td>
</tr>
<tr>
    <td>1</td>
    <td>Tuition Fee&nbsp;</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>0</td>
</tr>
<tr>
    <td>2</td>
    <td>University Registration</td>
    <td>1500</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>1500</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>TOTAL</td>
    <td>1500</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>1500</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="11"><span style="color:#FF0000">CATEGORY -II( 85 TO 89 % )</span></td>
</tr>
<tr>
    <td>Sl No</td>
    <td>Fees details</td>
    <td>First&nbsp; Sem</td>
    <td>Second&nbsp; Sem</td>
    <td>Third&nbsp; Sem</td>
    <td>Fourth&nbsp;&nbsp; Sem</td>
    <td>Fifth Sem</td>
    <td>Sixth Sem</td>
    <td>Seventh Sem</td>
    <td>Eighth Sem</td>
    <td>Total fee</td>
</tr>
<tr>
    <td>1</td>
    <td>Admission Fee</td>
    <td>500</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>2</td>
    <td>Tuition Fee&nbsp;</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>32000</td>
</tr>
<tr>
    <td>3</td>
    <td>University Registration</td>
    <td>1500</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>4</td>
    <td>Caution Deposit</td>
    <td>0</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>0</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>TOTAL</td>
    <td>6000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>4000</td>
    <td>34000</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="11"><span style="color:#FF0000">CATEGORY -III( 75&nbsp; TO 84% )</span></td>
</tr>
<tr>
    <td>Sl No</td>
    <td>Fees details</td>
    <td>First&nbsp; Sem</td>
    <td>Second&nbsp; Sem</td>
    <td>Third&nbsp; Sem</td>
    <td>Fourth&nbsp;&nbsp; Sem</td>
    <td>Fifth Sem</td>
    <td>Sixth Sem</td>
    <td>Seventh Sem</td>
    <td>Eighth Sem</td>
    <td>Total fee</td>
</tr>
<tr>
    <td>1</td>
    <td>Admission Fee</td>
    <td>500</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>500</td>
</tr>
<tr>
    <td>2</td>
    <td>Tuition Fee&nbsp;</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>48000</td>
</tr>
<tr>
    <td>3</td>
    <td>University Registration</td>
    <td>1500</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>1500</td>
</tr>
<tr>
    <td>4</td>
    <td>Caution Deposit</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>TOTAL</td>
    <td>7500</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>6000</td>
    <td>50000</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td colspan="11"><span style="color:#FF0000">CATEGORY -IV( BELOW 50 % TO 74%&nbsp; )</span></td>
</tr>
<tr>
    <td>Sl No</td>
    <td>Fees details</td>
    <td>First&nbsp; Sem</td>
    <td>Second&nbsp; Sem</td>
    <td>Third&nbsp; Sem</td>
    <td>Fourth&nbsp;&nbsp; Sem</td>
    <td>Fifth Sem</td>
    <td>Sixth Sem</td>
    <td>Seventh Sem</td>
    <td>Eighth Sem</td>
    <td>Total fee</td>
</tr>
<tr>
    <td>1</td>
    <td>Admission Fee</td>
    <td>500</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>500</td>
</tr>
<tr>
    <td>2</td>
    <td>Tuition Fee &amp; Other Fee&nbsp;</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>64000</td>
</tr>
<tr>
    <td>3</td>
    <td>University Registration</td>
    <td>1500</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>1500</td>
</tr>
<tr>
    <td>4</td>
    <td>Caution Deposit</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>TOTAL</td>
    <td>9500</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>8000</td>
    <td>66000</td>
</tr>
</tbody>
</table>

<p><span style="font-size:14px"><strong>FEE STRUCTURE -&nbsp;B.TECH ADMISSION 2021- GOVT. Quot</strong></span></p>

<div style="clear:both;">
<p>&nbsp;</p>

<p>For those students found eligible for tuition fee exemption under Tuition Fee Waiver scheme or found eligible for lower fees, the Management will return the excess fees realized from the students within one week of intimation of such concession by Commissioner of Entrance Examination.</p>
</div>

<p>In such cases, Rs. 50000 will be returned to students eligible under Tuition fee waiver scheme and Rs. 25000 will be returned to students eligible under low income group.</p>

<p>Note:&nbsp; Fees are subjected to changes by Government/University Orders, time to time.<br>
&nbsp;<br>
<strong>Full Fee Waiver Scheme by Management</strong></p>

<p>The management offers full fee waiver for meritorious students who secure ranks up to 5000 and admitted in KVMCE&amp;IT through Govt. Quota.&nbsp; They have to remit the required fees in the bank as notified by CEE and produce the receipt for refund of the amount. Sustained progress is required to continue in the scheme in higher semesters.</p>

<p><strong>AICTE Full Tuition Fee Waiver Scheme</strong></p>

<p>The AICTE approved Tuition Fee Waiver scheme is implemented in the college. Accordingly 5% of the total intake will be filled under this scheme. These seats will be filled by the Govt. and eligibility for admission will be as per the norms of this scheme. The selection is made purely on the basis of Kerala Engineering Entrance Examination rank list and family income.</p>

<p><strong>For More Details Contact:-9846619618,04782811080</strong></p>
<p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_update'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>
            </div>
                <div class="clearfix">
                
                    
                    
                </div>   
                         
            </div>
</div>
            <div class="clear"></div>

            </div>
        </div>
{% endblock %}