
{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">


<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class=" col-md-9  column clearfix">
            <div class="box">
                <h4>B.Tech NRI Quota </h4>
                <div class="boxInfo">
                    
                    <div>
                    <p></p><h3><strong>Management Quota ( NRI ) Admission</strong></h3>

<p>15% seats of the sanctioned intake are provided for NRI category and allotted to children and dependants of NRIs on the basis of marks obtained for PCM in qualifying examination. These students are admitted by the Management based on their academic eligibility as per APJ Abdul Kalam Technological University norms and exempted from qualifying in Kerala Engineering Entrance Examination 2021</p>

<p><span style="color:#FF0000">FEES STRUCTURE&nbsp; B TECH (CSE)2021 ADMISSION NRI Quota</span></p>

<table border="0" cellpadding="0" cellspacing="0" style="width:704px">
<tbody>
<tr>
<td colspan="11" style="height:21px; width:704px">&nbsp;</td>
</tr>
<tr>
<td style="height:31px; width:43px">Sl No</td>
<td style="width:99px">Fees details</td>
<td>First&nbsp; Sem</td>
<td>Second&nbsp; Sem</td>
<td>Third&nbsp; Sem</td>
<td>Fourth&nbsp;&nbsp; Sem</td>
<td>Fifth Sem</td>
<td>Sixth Sem</td>
<td>Seventh Sem</td>
<td>Eighth Sem</td>
<td>Total fee</td>
</tr>
<tr>
<td style="height:27px; width:43px">1</td>
<td style="width:99px">Admission Fee</td>
<td>500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>500</td>
</tr>
<tr>
<td style="height:40px">2</td>
<td style="width:99px">Tuition Fee &amp; Other Fee&nbsp;</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>160000</td>
</tr>
<tr>
<td style="height:40px">3</td>
<td style="width:99px">University Registration</td>
<td>1500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1500</td>
</tr>
<tr>
<td style="height:30px">4</td>
<td style="width:99px">Caution Deposit</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="height:35px">&nbsp;</td>
<td style="width:99px">TOTAL</td>
<td>22000</td>
<td>20000</td>
<td>####</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>#####</td>
<td>20000</td>
<td>162000</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<p>All other terms and conditions are same as management quota</p>

<p><strong>For More Details Contact:- 9446573475,9995876948</strong></p>
<p></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
            <ul> <li><a href="{% url 'kvmtrust' %}">

                            <button type="button" class="btn btn-box">KVM Trust</button></a>

                            </li> <li><a href="{% url 'courses'%}">

                            <button type="button" class="btn btn-box">Our Courses</button></a>

                            </li> <li><a href="{% url 'placement'%}">

                            <button type="button" class="btn btn-box">Placements</button></a>

                            </li> <li><a href="{% url 'university_update'%}">

                            <button type="button" class="btn btn-box">University Updates</button></a>

                            </li></ul>
        </div>
            <div class="clearfix">
            
                
                
            </div>   
                     
        </div>
</div>
        <div class="clear"></div>

        </div>
    </div>


{% endblock %}