{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

<div class="wrapper">
    <div class="container">
    <div class="row">
        <div class=" col-md-9  column clearfix">
            <div class="box">
                <h4>B.Tech Management Quota</h4>
                <div class="boxInfo">
                    
                    <div>
                    <p></p><p>50% seats are Management seats allotted on merit by ranking applicants on the basis of marks obtained in qualifying examination and for Kerala Engineering Entrance Examination 2021(KEAM 2021/KEE 2021). Tuition Fee Waiver Scheme as supernumerary and seats are also allotted under NRI category from the management quota as per norms of AICTE/Govt.</p>

<p><strong>Eligibility for Admission under Management Quota:</strong></p>

<p style="margin-left:40px">(a)&nbsp;&nbsp; &nbsp;Candidates who have passed Higher Secondary Examination, Kerala, with 45% marks in Mathematics, Physics and Chemistry puttogether are eligible for admission under Management Quota in Private Self FinancingEngineering Colleges/Government Controlled Self Financing Engineering Colleges. In case,the candidate has not studied Chemistry, the marks obtained in Computer Science shall beconsidered. In case, the candidate has not studied Chemistry and Computer Science, themarks obtained in Biotechnology shall be considered. In case, the candidate has not studiedChemistry, Computer Science and Biotechnology, the marks obtained in Biology shall beconsidered. The marks as shown in the mark list of the Board of Examination obtained fromthe respective Higher Secondary Board shall be considered for academic eligibility.</p>

<p style="margin-left:40px"><br>
(b)&nbsp;&nbsp; &nbsp;Only those candidates who get qualified in the Kerala Engineering Entrance Examination 2021&nbsp;(KEAM 2021) conducted by the Commissioner for Entrance Examinations, Govt. of Kerala will be considered.ORKerala Engineering Entrance Examination 2021&nbsp;(KEE 2021) conducted under the Admission Supervisory Committee will be considered (apply online www.ksfecma.com )</p>

<p><strong>Relaxation in marks:</strong></p>

<p>For all the courses, candidates belonging to Socially and Educationally Backward Classes (asper G.O. (P) No. 208/66/Edn dated 02.05.1966, GO(MS) No. 10/2014/BCDD dated:23.05.2014, GO (P) No. 1/2015/BCDD dated: 01.01.2015 and amendments thereof), willhave a relaxation of 5% marks in the qualifying examination. They need only 45% marks inthe case of Mathematics/Biology and 45% marks in the case of Mathematics/Biology, Physicsand Chemistry put together. The Scheduled Castes and Scheduled Tribes candidates needonly a pass in the qualifying examination.</p>

<p>The relaxation in marks inthe Qualifying Examinations available to SEBC and PD Candidates will not be applicable tothe admissions under Management Quota in Private Self Financing EngineeringColleges/Government Controlled Self Financing Engineering Colleges. Biotechnology will notbe considered for the courses for academic eligibility as specified in clauses 6.2.1 (a) (ii),6.2.1 (a) (iv) &amp; 6.2.1 (b). Optional subjects are the subjects specified in Clauses 6.2.1, 6.2.2&amp; 6.2.3 for the respective courses.</p>

<p>The relaxation of marks in the qualifying examination extended to SEBC candidates only willbe applicable to OEC candidates even if they are allotted against the unavailed seats ofSC/ST quota.</p>

<p><strong>AGE:</strong></p>

<p>Relevent clause 6.3.1 is reproduced below.</p>

<p>Applicants should have completed 17 years of age as on the 31st December 2021. Norelaxation in the minimum age will be allowed. There is no upper age.</p>

<p><strong>Nationality:</strong></p>

<p>Candidates must be Citizens of India.</p>

<p><strong>FEESTRUCTURE</strong></p>

<p>This may be subject to changes, as may be notified by the Govt. for admission in 2021-22</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:701px">
<tbody>
<tr>
<td colspan="11"><span style="color:#FF0000">CATEGORY -1 ( 90 % AND ABOVE)FULL TUITION FEE WAIVER SCHEME</span></td>
</tr>
<tr>
<td>Sl No</td>
<td>Fees details</td>
<td>First&nbsp; Sem</td>
<td>Second&nbsp; Sem</td>
<td>Third&nbsp; Sem</td>
<td>Fourth&nbsp;&nbsp; Sem</td>
<td>Fifth Sem</td>
<td>Sixth Sem</td>
<td>Seventh Sem</td>
<td>Eighth Sem</td>
<td>Total fee</td>
</tr>
<tr>
<td>1</td>
<td>Tuition Fee&nbsp;</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>0</td>
</tr>
<tr>
<td>2</td>
<td>University Registration</td>
<td>1500</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1500</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TOTAL</td>
<td>1500</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1500</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="11"><span style="color:#FF0000">CATEGORY -II( 85 TO 89 % )</span></td>
</tr>
<tr>
<td>Sl No</td>
<td>Fees details</td>
<td>First&nbsp; Sem</td>
<td>Second&nbsp; Sem</td>
<td>Third&nbsp; Sem</td>
<td>Fourth&nbsp;&nbsp; Sem</td>
<td>Fifth Sem</td>
<td>Sixth Sem</td>
<td>Seventh Sem</td>
<td>Eighth Sem</td>
<td>Total fee</td>
</tr>
<tr>
<td>1</td>
<td>Admission Fee</td>
<td>500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>2</td>
<td>Tuition Fee&nbsp;</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>32000</td>
</tr>
<tr>
<td>3</td>
<td>University Registration</td>
<td>1500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>4</td>
<td>Caution Deposit</td>
<td>0</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>0</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TOTAL</td>
<td>6000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>4000</td>
<td>34000</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="11"><span style="color:#FF0000">CATEGORY -III( 75&nbsp; TO 84% )</span></td>
</tr>
<tr>
<td>Sl No</td>
<td>Fees details</td>
<td>First&nbsp; Sem</td>
<td>Second&nbsp; Sem</td>
<td>Third&nbsp; Sem</td>
<td>Fourth&nbsp;&nbsp; Sem</td>
<td>Fifth Sem</td>
<td>Sixth Sem</td>
<td>Seventh Sem</td>
<td>Eighth Sem</td>
<td>Total fee</td>
</tr>
<tr>
<td>1</td>
<td>Admission Fee</td>
<td>500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>500</td>
</tr>
<tr>
<td>2</td>
<td>Tuition Fee&nbsp;</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>48000</td>
</tr>
<tr>
<td>3</td>
<td>University Registration</td>
<td>1500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1500</td>
</tr>
<tr>
<td>4</td>
<td>Caution Deposit</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TOTAL</td>
<td>7500</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>6000</td>
<td>50000</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="11"><span style="color:#FF0000">CATEGORY -IV( BELOW 50 % TO 74%&nbsp; )</span></td>
</tr>
<tr>
<td>Sl No</td>
<td>Fees details</td>
<td>First&nbsp; Sem</td>
<td>Second&nbsp; Sem</td>
<td>Third&nbsp; Sem</td>
<td>Fourth&nbsp;&nbsp; Sem</td>
<td>Fifth Sem</td>
<td>Sixth Sem</td>
<td>Seventh Sem</td>
<td>Eighth Sem</td>
<td>Total fee</td>
</tr>
<tr>
<td>1</td>
<td>Admission Fee</td>
<td>500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>500</td>
</tr>
<tr>
<td>2</td>
<td>Tuition Fee &amp; Other Fee&nbsp;</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>64000</td>
</tr>
<tr>
<td>3</td>
<td>University Registration</td>
<td>1500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1500</td>
</tr>
<tr>
<td>4</td>
<td>Caution Deposit</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TOTAL</td>
<td>9500</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>8000</td>
<td>66000</td>
</tr>
</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="width:701px">
<tbody>
<tr>
<td colspan="11"><span style="color:#FF0000">CATEGORY -V( MANAGEMENT-NRI )</span></td>
</tr>
<tr>
<td>Sl No</td>
<td>Fees details</td>
<td>First&nbsp; Sem</td>
<td>Second&nbsp; Sem</td>
<td>Third&nbsp; Sem</td>
<td>Fourth&nbsp;&nbsp; Sem</td>
<td>Fifth Sem</td>
<td>Sixth Sem</td>
<td>Seventh Sem</td>
<td>Eighth Sem</td>
<td>Total fee</td>
</tr>
<tr>
<td>1</td>
<td>Admission Fee</td>
<td>500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>500</td>
</tr>
<tr>
<td>2</td>
<td>Tuition Fee &amp; Other Fee&nbsp;</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>160000</td>
</tr>
<tr>
<td>3</td>
<td>University Registration</td>
<td>1500</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1500</td>
</tr>
<tr>
<td>4</td>
<td>Caution Deposit</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TOTAL</td>
<td>22000</td>
<td>20000</td>
<td>####</td>
<td>20000</td>
<td>20000</td>
<td>20000</td>
<td>#####</td>
<td>20000</td>
<td>162000</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<p><strong>Full Fee Waiver Scheme by Management:</strong>NO Refundable Deposit is collected for admission under Management Quota</p>

<p>The management offers full fee waiver for meritorious students who secure ranks up to 5000 in KEAM 2021&nbsp;or candidates who secured A+ in all subjects in HSC.&nbsp; Sustained progress is required to continue in the scheme in higher semesters.</p>

<p><strong>How to apply under Management quota:</strong></p>

<p>Candidates shall apply directly to KVMCEIT either online or offline for admission.</p>

<p>Application forms can be collected from the college office for admission under Management and NRI quota or download the application form from the “Download offline Application” link under our web site. The application form needs to be filled up with ball point pen in his/her own handwriting. The filled up application form along with the application fee as Demand Draft (DD) and all necessary documents should be sent to the postal address of the college.</p>

<p>Online application:The online application link is available under our website.&nbsp;&nbsp; After submitting the online application, the signed print out of the same along with the application fee as DD and all necessary documents should be sent to the postal address of the college.</p>

<p>Application form fee: Rs. 100/-<br>
&nbsp;<br>
<strong>General Instructions:</strong></p>

<p style="margin-left:40px">a) Candidate shall not submit applications both online and offline<br>
b) Affix a passport size (3.5 x 3.5 cm) photograph in the space provided in offline application. The photograph is to be pasted in the print out for online application.<br>
c) The photograph shall be self attested.<br>
d) Applications should be complete in all respects.<br>
e) Applications shall be accepted only if he/she has furnished the relevant certificates prescribed in the Prospectus, in proof of eligibility. Copies of certificates/documents to be submitted along with the application<br>
•&nbsp;&nbsp; &nbsp;Copy of the relevant page of SSLC or equivalent certificate to prove date of birth.<br>
•&nbsp;&nbsp; &nbsp;Copy of qualifying examination Mark list. Two attested copies of Mark list/ Pass certificate (where applicable) of 12th Standard/ Equivalent Exam<br>
•&nbsp;&nbsp; &nbsp;Attested copy of SSLC marksheet.<br>
•&nbsp;&nbsp; &nbsp;Copy of Entrance Admit Card.<br>
•&nbsp;&nbsp; &nbsp;Result sheet/Score card of&nbsp; KEAM 2021/KEE 2021<br>
•&nbsp;&nbsp; &nbsp;Demand Draft towardsnon refundableBooking fee of Rs 10000/-<br>
(This will be adjusted against Tution fee on confirmation of admission.&nbsp; So also booking will be refunded if the applications are rejected due to non availability of seats)<br>
f)All copies of certificates shall be self attested.<br>
g)The Applicant &amp; the Parent shall affix their signature in the specified areas on the application form (for both offline and online)<br>
h) All basic information required is to be filled in with utmost care. The data provided in the online or offline application will be used for processing the application. Any error in filling the online or offline application or providing false/incomplete/wrong information will forfeit the candidate's eligibility for admission. Furnishing false information/ particulars would result in the forfeiture of the candidature as well as the cancellation of admission at any stage, even after admission.</p>

<p>Applications may be sent to The Principal, KVM College of Engg&amp; IT, KVM College Road, Kokkothamangalam PO, Cherthala,&nbsp; Alappuzha-688527.</p>

<p>The college will not be responsible for any postal delay or loss of application during transit.</p>

<p><strong>Procedure of Selection:</strong></p>

<p>KVMCEITselection based on total marks of Physics, Chemistry and Mathematics (PCM), in qualifying examination<br>
Selected candidates shall take admission at the appointed time and date in the college, after paying the tuition fee and other fees to be paid, failing which the offer of admission will be forfeited.</p>

<p>&nbsp;</p>

<p><strong>For More Details Contact:-9846619618,&nbsp;04782811080</strong></p>
<p></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-3 clearfix">
<div class="searchCourse clearfix">
            <ul> <li><a href="{% url 'kvmtrust' %}">

                            <button type="button" class="btn btn-box">KVM Trust</button></a>

                            </li> <li><a href="{% url 'courses'%}">

                            <button type="button" class="btn btn-box">Our Courses</button></a>

                            </li> <li><a href="{% url 'placement'%}">

                            <button type="button" class="btn btn-box">Placements</button></a>

                            </li> <li><a href="{% url 'university_update'%}">

                            <button type="button" class="btn btn-box">University Updates</button></a>

                            </li></ul>
        </div>
            <div class="clearfix">
            
                
                
            </div>   
                     
        </div>
</div>
        <div class="clear"></div>

        </div>
    </div>
{% endblock %}