{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" href="../static/adminapp/css/main2.css">

<div class="header-height" style="height: 130px;"></div>

<div class="main-content">

    <div class="topImg clearfix wrapper">

                

        <img src="../static/adminapp/img/banner.jpg" alt="About Us">

        <div class="container">

         <p>Faculty Profile</p>

        </div>

    </div>


    <div class="wrapper">

        <div class="container">

        <div class="row">

            <div class="blog col-md-9 clearfix">

                <div class="box">

                    <h4>Dr.Manjula Devananda</h4>

                    <div class="boxInfo examInfo">

                        

                        <div class="row"> 

                        <div class="col-md-5">
                        <div class="faculty-det-box">
                        <div class="faculty-detbox">

                       <img src="../static/adminapp/img/faculty/manjulamiss.JPEG" alt="Dr.Manjula Devananda" class=" img-responsive">
                        
                        </div>
                      </div>
                          <p></p><div class="event-vanue">

                        <table>

                          <tbody><tr>

                            <td colspan="2"><h4>Profile Summary</h4></td>

                          </tr>

                          <tr>

                            <td width="29%"><p class="color">Designation:</p></td>

                            <td width="71%"><strong>PRINCIPAL &amp; HOD</strong></td>

                          </tr>

                          <tr>

                            <td><p class="color">Qualifications:</p></td>

                            <td><strong>Ph.D, ME(Computer Science)</strong></td>

                          </tr>

                          <tr>

                            <td><p class="color">Date of Join: </p></td>

                            <td><strong>14/12/2020</strong></td>

                          </tr>

                          <tr>

                            <td><p class="color">Email: </p></td>

                            <td><strong>principal@kvmce.in</strong></td>

                          </tr>

                          <tr>

                            <td><p class="color">Experience: </p></td>

                            <td><strong>11 Years</strong></td>

                          </tr>

                        </tbody></table>

              </div> <p></p>

                            </div>

                            <div class="col-md-7">

                            <p></p>

                           </div>

                        </div>

                    </div>

                </div>

     <div>

                <div class="box">

                    

                            

                                                                

                            

                        

                </div>

            </div>

            </div>

            <div id="sidebar" class="col-md-3 clearfix">

<div class="searchCourse clearfix">

                <ul> <li><a href="{% url 'kvmtrust' %}">

                                <button type="button" class="btn btn-box">KVM Trust</button></a>

                                </li> <li><a href="{% url 'courses'%}">

                                <button type="button" class="btn btn-box">Our Courses</button></a>

                                </li> <li><a href="{% url 'placement'%}">

                                <button type="button" class="btn btn-box">Placements</button></a>

                                </li> <li><a href="{% url 'university_updates'%}">

                                <button type="button" class="btn btn-box">University Updates</button></a>

                                </li></ul>

            </div>

                <div class="clearfix">

                

                    <!-- <ul><li><a href="http://www.kvmce.in/department/computer-science-engineering/introduction"><button type="button" class="btn btn-box">Computer Science &amp; Engineering</button></a></li><li><a href="http://www.kvmce.in/department/computer-science-engineering/innovative-project-cse"><button type="button" class="btn btn-box">Innovative Project Works</button></a></li><li><a href="http://www.kvmce.in/pages/btech-govt-quota"><button type="button" class="btn btn-box">Admission - Govt Quota </button></a></li><li><a href="http://www.kvmce.in/pages/btech-mgmt-quota"><button type="button" class="btn btn-box">Admission - Management Quota</button></a></li><li><a href="http://www.kvmce.in/pages/btech-nri-quota	"><button type="button" class="btn btn-box">Admission- NRI Quota</button></a></li><li><a href="http://www.kvmce.in/department/computer-science-engineering/faculty"><button type="button" class="btn btn-box">Faculty</button></a></li> -->

                    

                </ul></div>   

                         

            </div>

</div>

            <div class="clear"></div>



            </div>

        </div>







    {% endblock %}
